[2015-05-21 01:51] avalenzuela00 opened #2 "Add fields to metadata template for further info on point of contact"
Add name field that allows names other than GeoNode users
Add field for email
Add field for phone number
Add Organization field

[2015-05-21 02:04] avalenzuela00 opened #3 "Metadata: No drop-down field for Intensity Unit"
I don't think we need a drop down field for Intensity Unit. I just think there are too many options to support them all in the drop down.

[2015-06-10 14:32] avalenzuela00 opened #4 "Nasa Data-Problem Downloading Proper Geotiff"

[2015-06-10 14:34] avalenzuela00 commented on #4
Sorry, forgot to comment. For some reason when I download the nasa data, Aria Dpm, it is not coming out in a file format recognized by Qgis. Figured this is something we should look at.

[2015-06-10 14:43] avalenzuela00 opened #5 "Cache not logging new styles"
Many layers that I have changed are showing up in the thumbnails properly. One layer in particular I updated days ago, and it still is not appearing correctly in the thumbnail.

[2015-06-10 14:45] avalenzuela00 commented on #4
@ingenieroariel

[2015-06-10 14:45] avalenzuela00 commented on #5
@ingenieroariel

[2015-06-26 20:45] avalenzuela00 opened #6 "Dragging files into window to download not working properly"
@ingenieroariel

[2015-06-26 20:46] avalenzuela00 opened #7 "Search Tab: Pop-up list of layers obscures search box"
@ingenieroariel

[2015-06-26 20:47] avalenzuela00 opened #8 "Choose File Option to upload data not working properly"
@ingenieroariel

I tried to upload ten files and it only uploaded one.

[2015-06-26 20:56] vdeparday commented on #6
Do you mean to upload? Could you provide the version of the browser you are
using? And maybe a screenshot or description of what is not working so we
can sure to reproduce it. Thank you.

On Fri, Jun 26, 2015 at 4:45 PM, avalenzuela00 notifications@github.com
wrote:

[2015-06-26 20:56] avalenzuela00 opened #9 "PGA Layers not showing in the final window properly"
@ingenieroariel

It seems like a projection issue the zoom level is off, but I checked the GeoServer side and it's projection of origin is 4326 just like the rest of the layers.

[2015-06-26 21:01] avalenzuela00 commented on #6
I'm running on the most recent version of chrome and safari, but neither are working.
![screen shot 2015-06-26 at 4 58 35 pm](https://cloud.githubusercontent.com/assets/9418919/8387221/d267db2c-1c24-11e5-8ca6-260f25bf745a.png)

[2015-06-26 21:01] avalenzuela00 commented on #6
The screen shot is after I dragged 10 files into the 'drop files here'

[2015-06-29 16:04] avalenzuela00 commented on #7
![screen shot 2015-06-29 at 12 04 19 pm](https://cloud.githubusercontent.com/assets/9418919/8412309/ff07d73e-1e56-11e5-98be-266960f18080.png)

[2015-06-29 18:11] avalenzuela00 commented on #2
![screen shot 2015-06-29 at 2 08 06 pm](https://cloud.githubusercontent.com/assets/9418919/8414872/c1b86742-1e68-11e5-8889-81c235e66d63.png)

[2015-07-02 15:50] ingenieroariel opened #10 "CSV output for list of layers"

[2015-07-02 15:51] ingenieroariel commented on #8
For this use case, you need to use drag and drop.

[2015-07-02 15:51] #8 closed, assigned to nobody

[2015-07-02 15:53] ingenieroariel commented on #5
link?

[2015-07-02 15:53] avalenzuela00 commented on #5
http://45.55.174.20/layers/hazard%3Afluvial_undefended_1in10_tile_1

[2016-04-21 17:46] vdeparday opened #11 "Download links for raster are listed multiple times"
I think this has been fixed in more recent version of GeoNode:

![image](https://cloud.githubusercontent.com/assets/1036189/14718951/7b64988a-07c7-11e6-91ea-6d69ec14bc66.png)

[2016-04-21 17:49] vdeparday opened #12 "Need to be able to read the entire metadata without downloading"
![image](https://cloud.githubusercontent.com/assets/1036189/14719005/c89a4672-07c7-11e6-811f-4e34d43c95a8.png)

The metadata should be expandable on click. It would be great to put that back into master too.

[2016-05-02 22:23] vdeparday opened #13 "Issue with the search"
Two issues:
- [ ] the auto-suggested answer are hiding the text box so the user cannot see what he/she is typing in the text box after entering the first few characters
- [ ] the search doesn't let the user enter free text, it will replace with the automatic suggestion. For instance, try entering Ethiopia. It is not possible do a search on the word "Ethiopia"

[2017-03-31 14:30] fvanderbiest opened #15 "Cannot create new layer"
On http://54.229.171.111/layers/upload

![capture du 2017-03-31 16-28-21](https://cloud.githubusercontent.com/assets/265319/24554781/1a2076f8-162f-11e7-8acd-8dc49b80bf9f.png)

Looks like geonode is not authorized to push data into geoserver using the rest API.

Current `security/rest.properties` config is:
[code]

[2017-03-31 21:06] stufraser1 commented on #10
GFDRR updating python code to do this - will provide code to merge

[2017-03-31 21:06] #10 closed, assigned to nobody

[2017-03-31 21:06] stufraser1 commented on #12
Or show whole abstract without clicking to expand

[2017-03-31 21:07] stufraser1 commented on #9
Haven't replicated this in other PGA layers, closing

[2017-03-31 21:07] #9 closed, assigned to nobody

[2017-03-31 21:08] stufraser1 commented on #4
Not issue specific to this layer, closing and creating a more relevant issue

[2017-03-31 21:08] #4 closed

[2017-03-31 21:10] stufraser1 commented on #2
This is given in metadata detail in new version. Closing

[2017-03-31 21:10] #2 closed

[2017-03-31 21:11] stufraser1 commented on #3
Addressed with limited list of units, implemented. closing

[2017-03-31 21:11] #3 closed

[2017-03-31 21:12] stufraser1 commented on #6
Not replicated recently by several users. Closing

[2017-03-31 21:12] #6 closed, assigned to nobody

[2017-03-31 21:13] stufraser1 commented on #7
This still occurs and needs resolving. Any popup box blocks the search field (whether it contains layer / document names, or 'no match'). Move position of box to below the search box

[2017-03-31 21:15] stufraser1 commented on #5
Not replicated lately. Closing

[2017-03-31 21:15] #5 closed

[2017-03-31 21:16] stufraser1 commented on #13
First one recorded in #7.
Second one not replicated recently. Closing.

[2017-03-31 21:16] #13 closed, assigned to nobody

[2017-03-31 21:20] stufraser1 opened #16 "Select all layers"
We would like to add a feature that enables user to select all layers that have been filtered by search box, instead of selecting each one individually

[2017-03-31 21:21] stufraser1 opened #17 "Add units to legend"
Please add a label for units, next to the map legend

[2017-03-31 21:23] stufraser1 opened #18 "Metadata detail missing items"
Add items to metadata detail page:

- [ ] hazard type
- [ ] hazard set
- [ ] return period

[2017-03-31 21:26] stufraser1 opened #19 "Transfer of styles"
Please confirm that map styles have been transferred from http://45.55.174.20/
Not many appear in http://54.229.171.111

[2017-03-31 21:28] stufraser1 opened #20 "Incorrect download of rasters"
Some TIFs not downloading as correct format - default to wcs

See previous comments
https://github.com/GeoNode/geonode/issues/129
https://github.com/GeoNode/geonode/issues/1485

@ErikKBethke Please add links to some layers that this occurred on

[2017-03-31 21:35] stufraser1 opened #21 "Metadata detail: incorrect display of items / titles"
- [x] Title 'Information of Layer' misaligned
- [x] Title 'References' misaligned
- [x] Title 'Contact Points' misaligned
- [x] Title 'Metadata Author' misaligned

In 'Information of Layer' section:
- [x] coordinates, projection items misaligned with field names

In 'References' section:
- [x] Fix multiple Repeated layer formats

[2017-03-31 21:38] stufraser1 opened #22 "Metadata detail: Owner email"
Owner email displaying the wrong field? Not showing email, instead shows admin account name

[2017-03-31 21:40] stufraser1 opened #23 "Metadata edit page - field names"
update field names to be capitalised first letter

- [ ] temporal extent start
- [ ] temporal extent end

[2017-03-31 21:42] stufraser1 opened #24 "Cannot update metadata - returns error"
Cannot update metadata, returns FailedRequestError at /layers/hazard:als07_975yr/metadata
@ErikKBethke recorded this error, has superuser account

[2017-03-31 21:44] stufraser1 opened #25 "Add data categories"
We require some more meaningful data categories for the data we're uploading. Please add:
- [ ] Risk analysis - exposure data
- [ ] Risk analysis - hazard data
- [ ] Risk analysis - vulnerability data
- [ ] Risk analysis - risk output data

[2017-03-31 21:50] stufraser1 opened #26 "Home page additions - exposure data"
We are hosting more exposure data now, we need to reflect this on the homepage.
Please add a new banner, below hazard datasets banner, with new icons.

Categories and icons to match - http://staging.geonode.kartoza.com/
@vdeparday happy with this approach?

[2017-03-31 22:07] stufraser1 opened #27 "Home page additions - new hazards"
Please add icons for additional hazards:
- [x] Wildfire
- [x] Extreme Heat
- [x] Urban Flood
- [x] Water scarcity
Icons from
[newIcons-UF-WS-EH-WF-AP.zip](https://github.com/GFDRR/geonode/files/887022/newIcons-UF-WS-EH-WF-AP.zip)
to match ThinkHazard v2

[2017-04-03 12:26] fvanderbiest commented on #15
For some reason GeoNode does not use it's settings file, in which the credentials for the geoserver admin user are stored. Still investigating.

[2017-04-06 17:00] ErikKBethke commented on #20
Examples of layers that have recurring issue:

http://www.geonode-gfdrrlab.org/layers/hazard%3Ass_muis_rp0050m
http://www.geonode-gfdrrlab.org/layers/hazard%3Aswio_com_500_cf

Note that KML, PDF, PNG, JPEG appear to be downloading as intended.

[2017-04-07 13:31] stufraser1 commented on #15
@fvanderbiest has there been any progress or resolution of this issue?

@ErikKBethke please keep an eye on this issue, to know whether you can upload new files next week

[2017-04-07 14:05] fvanderbiest commented on #15
I've been able to overcome this, but hit a second issue with geoserver still denying access to the REST API.

[2017-04-11 07:56] fvanderbiest commented on #15
I think we fixed the issue, at last ! The geoserver datadir missed some migration ...
Sorry for the delay.

[2017-04-11 07:58] stufraser1 commented on #15
Excellent.
@ErikKBethke can you please upload / replace some layers on the new geonode to confirm this works form our side.

[2017-04-11 13:58] fvanderbiest commented on #15
We still have an issue uploading new layers: thumbnails are not generated. We're working on it.
In addition, layer + map removal is broken at the moment.

[2017-04-11 14:01] vdeparday commented on #15
This has been a recurring issue in some installations, there should be some
resources on the mailing or in the docs to solve it.

On Tue, Apr 11, 2017 at 9:58 AM, François Van Der Biest <
notifications@github.com> wrote:

[2017-04-11 14:02] fvanderbiest commented on #24
Might be fixed recently, I did not witness it on http://www.geonode-gfdrrlab.org/layers/hazard:als07_975yr

[2017-04-11 14:04] vdeparday commented on #24
May be a write permission issue on the folder where the thumbnails are
generated.

On Tue, Apr 11, 2017 at 10:02 AM, François Van Der Biest <
notifications@github.com> wrote:

[2017-04-12 15:28] stufraser1 opened #28 "document thumbnail"
Document thumbnail should display title page of pdf documents. Currently shows some default text, no image. @vdeparday please provide the links to required item to install to enable this.

[2017-04-13 07:37] fvanderbiest commented on #15
We think the issue is rather linked with the way the app is containerized with docker. Background tasks handled by the internal Celery app are not working. We're trying to understand how it works to fix it.

[2017-04-13 15:09] ErikKBethke commented on #24
Error appears to be resolved, have had no issues updating metadata.

[2017-04-13 15:09] #24 closed, assigned to nobody

[2017-04-19 13:57] stufraser1 opened #30 "List of available styles"
Please show list of available styles in alphbetical order:
@ http://www.geonode-gfdrrlab.org/gs/hazard:<layername>/style/manage
e.g., http://www.geonode-gfdrrlab.org/gs/hazard:eq_ke_pgarp_100/style/manage

It is currently impossible to find existing styles by name.

[2017-04-21 15:05] stufraser1 opened #31 "new metadata field ‘Data coverage reference’"
Add new metadata field, for layer used in TH! Called ‘Data coverage reference’.

This would contain standard text referring to the coverage of the data, e.g., ‘National’. This field would be extracted with the data owner and/or layer title using the Geonode list views, and built into scripts to update the shp and geojson map file (by GFDRR).
Update on TH would still have to be via github request,

[2017-04-21 16:12] stufraser1 opened #32 "New SSH key on github account"
@Vampouille
Please could you add the new key on my account to https://github.com/orgs/camptocamp/teams/geonode-gfdrr , and restart the stack?
Please add 'Stu Geonode Connection key' for which I have a private key to use in filezilla. I dont have a private key to use, for the key generated by github for windows, which you added previously.

Thank you

[2017-04-24 07:57] Vampouille commented on #32
I just restart SFTP access, you should be able to connect to SFTP server with following keys :

* stufraser1_20131739
* stufraser1_23025131

[2017-04-26 13:23] ErikKBethke commented on #20
WCS error message for http://54.229.171.111/layers/hazard:ss_muis_rp0050m:

<?xml version="1.0" encoding="UTF-8"?><ServiceExceptionReport version="1.2.0" >   <ServiceException code="InvalidParameterValue" locator="bbox">
      illegal bbox, minY: 187.27201915472722 is greater than maxY: 154.3123442971117
</ServiceException></ServiceExceptionReport>

[2017-04-27 17:08] ErikKBethke opened #33 "Cannot update owner, POC, metadata author fields in layers"
Search functionality for layers does not function properly, cannot update these three fields for any layers.

[2017-05-10 08:19] stufraser1 commented on #32
able to connect now IP issue resolved

[2017-05-10 08:19] #32 closed, assigned to nobody

[2017-05-10 08:23] stufraser1 commented on #12
Resolved with new version of geonode 'metadata detail' button
e.g., http://www.geonode-gfdrrlab.org/layers/hazard:eq_tz_if_50/metadata_detail

[2017-05-10 08:23] #12 closed, assigned to nobody

[2017-05-10 08:35] stufraser1 opened #34 "batch upload to geonode"
@Vampouille @fvanderbiest
Please can you confirm whether the new Geonode has full functionality to enable batch upload of layers?

On http://45.55.174.20/ we would copy files from local to a tmp folder on server, then import a batch using:
_cd /var/www/geonode/wsgi/geonode
python manage.py importlayers_
Has this been replicated on 54.229.171.111/ ?

Please also confirm that files/folders in _54.22

[2017-05-16 08:00] fvanderbiest commented on #34
The `importlayers` command is standard geonode feature. As such, it is available in the new setup.

Devs at camptocamp can run the command, simply sshing into the django container :
[code]

If you have to do it by yourself, we have to upgrade your account so you can SFTP and SSH to the server.

[2017-05-16 08:45] stufraser1 commented on #34
It would be useful to have access to do this ourselves, so we can upload data without having to request this from camptocamp. Please provide access, if possible.

[2017-05-16 08:49] fvanderbiest commented on #34
No problem, doing it asap.

[2017-05-16 11:35] Vampouille commented on #34
@stufraser1 I have just setup your ssh access, so you should be able to connect with the following configuration :
* Host : int.geonode-gfdrrlab.org
* Port : 2223
* Login : sftp

You have to upload files in `/mnt/apache_nas_data/tmp/` using sftp protocol and then connect through ssh and finally run `python manage.py ...`.

Please let us know if you run into any issue.

[2017-05-17 10:11] stufraser1 commented on #34
I'm unable to connect - have you added my IP address 2.30.124.184 to this - that had to be added for me to connect to 54.229.171.111:2222
Thanks

[2017-05-17 13:06] fvanderbiest commented on #34
@saimonn can you check the security groups for Stuart to access int.geonode-gfdrrlab.org using ports 2222 and 2223 from 2.30.124.184 ?

[2017-05-17 13:20] Vampouille commented on #34
Related internal issue: https://jira.camptocamp.com/browse/INF-159

[2017-05-18 13:43] stufraser1 opened #35 "Problem uploading (layers via UI)"
Uploading the following layers (manually, at /layers/upload) worked on old Labs geonode, but repeatedly failed on new geonode.

Flaggin this as a potential issue on new geonode, for testing.
Both, 122MB .tif files

http://45.55.174.20/layers/hazard%3Aadm2_uu_raster_v2
http://45.55.174.20/layers/hazard%3Aadm2_fu_raster_v2_1

[2017-05-18 16:54] saimonn commented on #34
Les ports 2222,2223 et 5432  devraient maintenant être ouverts sur int +  prod

[2017-05-18 16:56] saimonn commented on #34
Oops, forgot the answer in English; TCP ports 2222, 2223 and 5432 should now be open on integration and production instances from 2.30.124.184

Sorry for the delay.

[2017-05-18 17:12] cgiovando opened #36 "Upgrade GeoNode to 2.6"
We already discussed this, but just in case it was officially released today. See https://lists.osgeo.org/pipermail/geonode-users/2017-May/003097.html

[2017-05-19 10:34] stufraser1 commented on #34
@saimonn @fvanderbiest Thank you -
I have been able to copy files via sftp to /mnt/apache_nas_data/tmp/

However, in trying to run _python manage.py importlayers /mnt/apache/nas_data/tmp/PHP100.tif_
I encounter the error
_geonode.GeoNodeException: Please pass a filename or a directory name as the "incoming" parameter, instead of /root/mnt/apache/nas_data/tmp/PHP100.tif: <type 'str'>_

This appears

[2017-05-19 10:42] stufraser1 commented on #35
These files uploaded with no problem on old Labs geonode - please confirm that manual layer upload works ok for new geonode when upgrade complete

[2017-05-19 17:19] cgiovando opened #37 "Upgrade to GeoNode with QGIS Server backend"
As already discussed, GeoNode with QGIS Server backend developed by Kartoza (https://github.com/kartoza/geonode) should be installed for the Lab's instance and support any data request from ThinkHazard.

Also relevant to this:
- https://github.com/kartoza/geonode/issues/204
- https://github.com/kartoza/geonode/issues/203
- https://github.com/kartoza/geonode/issues/202
- https://github.com/kartoza/

[2017-05-23 08:01] fvanderbiest opened #38 "[int] geoserver logs mixed with datadir volume"
![capture du 2017-05-23 10-00-52](https://cloud.githubusercontent.com/assets/265319/26344098/b7e6e4e2-3f9e-11e7-908f-de539b8f5364.png)

[2017-05-23 08:29] fvanderbiest opened #39 "[int] geoserver startup failure"
We migrated the datadir to oauth2 (comparing the current datadir to http://build.geonode.org/geoserver/latest/data-2.9.x-oauth2.zip + replacing localhost:8000 with django:8000) but now geoserver refuses to start with
[code]

Seems like `libspatialitejdbc` is missing in the image

[2017-05-23 08:31] fvanderbiest commented on #39
See http://docs.geoserver.org/stable/en/user/community/spatialite/index.html and http://docs.geotools.org/latest/userguide/library/jdbc/spatialite.html#native-libraries

[2017-05-23 08:34] fvanderbiest commented on #39
Seems like we have to rebuild geoserver image, because upstream war might have changed in between: https://github.com/GeoNode/geoserver-docker/blob/master/Dockerfile#L14

[2017-05-23 08:47] fvanderbiest commented on #39
Upstream is also affected, see https://github.com/GeoNode/geoserver-docker/issues/11

[2017-05-23 08:50] fvanderbiest commented on #39
Removing `/usr/local/tomcat/webapps/geoserver/WEB-INF/lib/gt-jdbc-spatialite-15-SNAPSHOT.jar` is easier than fetching (probably) unmaintained natives libs.

[2017-05-24 08:06] fvanderbiest commented on #39
Fixed, we were using the wrong datadir.
Keeping the upstream issue related to libspatialitejdbc open.

[2017-05-24 08:06] #39 closed, assigned to fvanderbiest

[2017-05-24 12:21] fvanderbiest opened #40 "[int] GeoServer could not find layers"
[code]

[2017-05-24 12:29] fvanderbiest opened #41 "[int] cannot remove layer zonage_assainissement"
Removing http://int.geonode-gfdrrlab.org/layers/hazard:zonage_assainissement is currently impossible

[2017-05-24 12:30] fvanderbiest commented on #36
http://int.geonode-gfdrrlab.org/ is now running 2.6 and we have a stable upgrade procedure from old production geonode.

[2017-05-24 12:43] fvanderbiest commented on #41
[code]

[2017-05-24 12:46] fvanderbiest commented on #41
One migration not applied.

[2017-05-24 12:56] fvanderbiest commented on #41
SQL diff between a geonode-migrated db (from 2.4 to 2.6) and target 2.6 schema:
[code]

Link to full upgrade script: https://gist.github.com/fvanderbiest/4974dd0c908e36b4bad6f71d11d23bb8

[2017-05-24 13:17] fvanderbiest commented on #41
3 tables have dropped columns: `base_resourcebase`, `documents_document`, `layers_layer`
To prevent data loss, we exported the data in CSV files:
 * [distribution_url.csv.zip](https://github.com/GFDRR/geonode/files/1025602/distribution_url.csv.zip)
 * [document_distribution_description_en.csv.zip](https://github.com/GFDRR/geonode/files/1025603/document_distribution_description_en.csv.zip)
 * [laye

[2017-05-24 13:24] fvanderbiest commented on #41
Issue is now fixed on int server.

[2017-05-24 13:24] #41 closed, assigned to fvanderbiest

[2017-05-24 13:37] fvanderbiest opened #42 "[int] map printing ko"
POST http://int.geonode-gfdrrlab.org/geoserver/pdf/create.json
[code]

[code]

[2017-05-25 13:29] ErikKBethke commented on #34
Hi @saimonn, @Vampouille,  and @fvanderbiest,

Would it be possible to open these ports to my IP address as well? I cannot connect to int.geonode-gfdrrlab.org (54.246.242.223:2223). If there is something that I am still missing beyond this, please let me know.

IP: 2601:146:c900:8d90:109a:6a8e:c48e:c2a2

[2017-05-25 20:40] #7 closed, assigned to nobody

[2017-05-25 20:40] ErikKBethke commented on #7
Changes have been made and the search bar obscuring is no longer are an issue.

[2017-05-29 14:14] ErikKBethke opened #43 "Cannot log out of GeoNode"
Upon attempting logout of http://int.geonode-gfdrrlab.org/, receive a KeyError at /account/logout/.

Attaching error log.
[KeyError at _account_logout_.pdf](https://github.com/GFDRR/geonode/files/1036013/KeyError.at._account_logout_.pdf)

[2017-05-30 12:51] fvanderbiest commented on #43
This should be fixed now.

[2017-05-30 13:10] ErikKBethke commented on #43
Confirmed to be fixed, thanks!

Closing.

[2017-05-30 13:10] #43 closed, assigned to nobody

[2017-06-01 12:17] fvanderbiest opened #44 "[prod] missing redirect"
http://geonode-gfdrrlab.org should redirect to http://www.geonode-gfdrrlab.org

[2017-06-01 12:24] fvanderbiest commented on #34
Not sure we are able to handle IPv6 addresses... I'm gonna ask our sysadmins.
In the mean time, are you sure no IPv4 address is available ?

[2017-06-01 13:24] fvanderbiest opened #45 "[prod] missing volume for gwc tiles"
See eg https://github.com/camptocamp/gfdrr-geonode-geoserver-datadir/commit/28e21563d859c33eeccbeca7e4ed764ca3ed5389

[2017-06-01 14:03] fvanderbiest commented on #34
Sorry for the late answer Stuart.
I cannot find `/root/mnt/apache_nas_data/tmp/PHP100.tif` anymore.
Is this still an issue ?

[2017-06-01 14:11] fvanderbiest commented on #44
Handled with https://github.com/camptocamp/terraform-geonode/pull/4, merged & deployed

[2017-06-01 14:16] fvanderbiest commented on #44
Nope, fooled by my browser.

[2017-06-01 14:26] ErikKBethke commented on #34
Hi @fvanderbiest,

Sorry, my IPv4 address is available: 192.168.0.13

Thanks!

[2017-06-01 14:55] fvanderbiest commented on #44
Is a DNS issue, since geonode-gfdrrlab.org is unknown

[2017-06-02 07:51] fvanderbiest commented on #34
This one is your internal (private) IP.
To get your public IP, you can go to https://www.whatismyip.com/

[2017-06-02 07:54] fvanderbiest commented on #45
I think I'll just git ignore those files.

[2017-06-02 07:59] fvanderbiest commented on #35
Probably a timeout issue. I'll take a look at it.

[2017-06-02 08:17] stufraser1 commented on #34
@fvanderbiest
Ref 'I cannot find /root/mnt/apache_nas_data/tmp/PHP100.tif anymore. Is this still an issue ?'
At that time I was working on int.geonode-gfdrrlab.org
It doesn't appear on www.geonode-gfdrrlab.org as I've not uploaded there.
Can you copy all files directly from int.geonode-/*/tmp to the www.geonode- server (to a new tmp folder)? Then I can test the batch upload.

[2017-06-02 09:57] fvanderbiest commented on #44
DNS type A record created

[2017-06-02 09:57] #44 closed, assigned to fvanderbiest

[2017-06-02 10:04] fvanderbiest commented on #41
Also applied on new prod server.

[2017-06-02 11:31] fvanderbiest commented on #20
Problem with data, also witnessed when harvesting from TH, see https://github.com/GFDRR/thinkhazard/issues/754

[2017-06-02 11:37] fvanderbiest commented on #45
Should be fixed with https://github.com/camptocamp/gfdrr-geonode-geoserver-datadir/commit/df82816460596d1ad08ec7f73ccffbbb9c66e80e

[2017-06-02 11:37] #45 closed, assigned to fvanderbiest

[2017-06-02 11:44] fvanderbiest commented on #34
Sure. Copying ...

[2017-06-02 11:50] fvanderbiest commented on #36
Now http://www.geonode-gfdrrlab.org/ too

[2017-06-02 11:50] #36 closed, assigned to fvanderbiest

[2017-06-02 11:52] fvanderbiest commented on #19
Do you mean layer styles, SLDs ?

AFAIK http://www.geonode-gfdrrlab.org/geoserver/web/wicket/bookmarkable/org.geoserver.wms.web.data.StylePage?11 is up to date with latest "old production" data.

[2017-06-02 12:11] fvanderbiest commented on #34
All done.

[2017-06-02 12:15] fvanderbiest commented on #18
Eg on http://www.geonode-gfdrrlab.org/layers/hazard:als07_975yr/metadata_detail

[2017-06-02 12:38] stufraser1 commented on #34
Thank you - confirmed all data copied to www.geonode server, and I have deleted the tmp folder from int server.
I have been able to upload data using `/usr/src/app# python manage.py importlayers --user=stu /mnt/apache_nas_data/tmp/<filename>.tif` via Putty. All sorted on batch upload side for me.

All that remains in this issue is to enable @ErikKBethke access (once he has provided IP) and ensure

[2017-06-02 12:59] fvanderbiest commented on #35
We might miss the `keepalive_timeout` parameter, as seen in https://github.com/GeoNode/nginx-docker/blob/master/nginx.conf#L26 (at least something equivalent for HAProxy, that we use instead of nginx)

[2017-06-02 13:45] fvanderbiest commented on #38
git ignored, and not considering this as important since geoserver to be replaced with qgis server

[2017-06-02 13:45] #38 closed, assigned to fvanderbiest

[2017-06-02 13:52] fvanderbiest opened #46 "SSL issues"
https://int.geonode-gfdrrlab.org/ is now available with SSL, which is a pre-requisite to https://github.com/GFDRR/thinkhazard/issues/691

... but browser barks about mixed content (eg: gravatar)

[2017-06-02 14:02] fvanderbiest commented on #46
but also:
 * http://a.tile.stamen.com/toner-lite/0/0/0.png
 * thumbs, eg http://int.geonode-gfdrrlab.org/uploaded/thumbs/layer-22b54d92-3bc9-11e7-b6c4-040146164b01-thumb.png

[2017-06-02 14:22] fvanderbiest commented on #35
Should be fixed with https://github.com/camptocamp/terraform-geonode/pull/5
Can you try again on production server @ErikKBethke or @stufraser1 ?

[2017-06-02 14:25] fvanderbiest commented on #46
Also this breaks uploads on INT.
It might be related to https://github.com/camptocamp/terraform-geonode/blob/master/rancher-environments/gfdrr-geonode-prod/stacks.tf#L120

[2017-06-02 14:46] fvanderbiest commented on #33
Can you try again on production server ?

[2017-06-02 23:57] ErikKBethke commented on #33
Search functionality still not populating.

Tested on:
http://www.geonode-gfdrrlab.org/layers/hazard:hurriwind_mex_50tr/metadata
http://www.geonode-gfdrrlab.org/layers/hazard:hurriwind_mex_100tr/metadata

Let me know if there are other layers or servers you'd like me to attempt.

[2017-06-05 06:51] Vampouille commented on #46
We also need to update db in order to replace link with http scheme to https.

[2017-06-06 16:16] stufraser1 opened #47 "TH using data on non-Labs Geonode"
We would like to access and use, in both [ThinkHazard](http://thinkhazard.org/) and [GeoSAFE](http://staging.geonode.kartoza.com/), data that resides on a GeoNode external to the [Labs GeoNode](http://www.geonode-gfdrrlab.org/). Specifically (and for now limited to) http://disasterrisk.af.geonode.org

Can we access the data via OGC and have ThinkHazard perform its calculations / GeoSAFE do the ove

[2017-06-07 06:07] cgiovando commented on #47
@gubuntu can you provide details on whether GeoSAFE can pull external GeoNode data sources?

@fvanderbiest what are the type of calculations that ThinkHazard has to perform?

[2017-06-07 06:09] cgiovando commented on #37
@fvanderbiest how is this going? Were you successful in deploying GeoNode with QGIS server?

[2017-06-07 06:10] cgiovando opened #48 "Install GeoSAFE"
Once #37 has been completed, then we need GeoSAFE installed and tested.

[2017-06-08 07:12] gubuntu commented on #47
At present GeoSAFE requires locally published GeoNode data sources. However, you can fetch remote sources through the MetaSearch tool in GeoSAFE.
- Point to the CSW endpoint of the remote service
- search and choose a layer
 - the layer metadata has to have InaSAFE 3.5 keywords in the supplemental information element if you want to use it in a GeoSAFE analysis
- GeoSAFE fetches the layer via WFS o

[2017-06-09 14:55] ErikKBethke commented on #34
Sorry @fvanderbiest, my public IPv4 is: 73.172.216.47

[2017-06-09 16:32] ErikKBethke commented on #35
Confirming that uploads/replacing layers still results in stalling/timeout issues.

[2017-06-12 14:40] fvanderbiest commented on #37
Still in the works...
We'll let you know when we encounter blocking issues.

We were wondering how we could migrate the existing geoserver "datadir" into qgis server.
Any hints @gubuntu ? Thanks.

[2017-06-13 12:23] gubuntu commented on #37
I depends what is there. Although QGIS can handle any data source, as a GeoNode/GeoSAFE backend it is limited to shape files, GeoTIFF and raster asc files.

I would script the manage.py to walk through the data dir and load each of those layers into your instance of geonode-qgis_server. This will result in them being properly processed and published. Some things that happen during that process:
-

[2017-06-14 09:26] fvanderbiest commented on #34
Sorry for the delay Erik, I'm doing my best to open your access ASAP.

[2017-06-14 09:29] fvanderbiest commented on #34
@saimonn can you configure the same accesses for IP 73.172.216.47 ? Thanks !

[2017-06-14 09:43] saimonn commented on #34
that's open for `73.172.216.47`

[2017-06-14 12:57] Vampouille commented on #46
Link to geoserver updated by https://github.com/camptocamp/terraform-geonode/commit/cb50ed00e9c4585aa3496687b3ba196047fdc1ed and deployed on int

[2017-06-14 12:58] Vampouille commented on #46
fixed in int db

[2017-06-14 13:16] fvanderbiest commented on #46
@stufraser1 on https://int.geonode-gfdrrlab.org/ we have all ressources loaded through https now.
We'll check everything goes well when harvesting from TH, and then we'll plan an upgrade of production geonode.

[2017-06-14 13:45] Vampouille commented on #46
Fix in int `local_settings.py` with AVATAR_GRAVATAR_SSL

[2017-06-14 13:51] Vampouille commented on #46
Should be fixed with https://github.com/camptocamp/labs_geonode/pull/1

[2017-06-14 13:56] fvanderbiest commented on #34
@ErikKBethke can you try again ? Thanks.

[2017-06-14 14:11] fvanderbiest commented on #42
Fixed on prod by changing
[code]
into
[code]
in /mnt/geoserver_datadir/printing/config.yaml

[2017-06-14 14:14] fvanderbiest commented on #42
https://int.geonode-gfdrrlab.org/geoserver/pdf/create.json has a different issue now:
Error while generating PDF: Unknown method: /create.json

[2017-06-14 14:29] ErikKBethke commented on #34
@fvanderbiest I am now able to connect to both instances, thank you!

[2017-06-14 16:12] stufraser1 commented on #47
Thanks.
@cgiovando - given the response above, it sounds like our only option is to download the layers of interest and store them on Labs geonode. Correct?
@ErikKBethke - If this is confirmed, we need to work on copying over selected hazard layers + metadata, then exposure ASAP. In this case, we have no need for access to the ftp site.

[2017-06-14 18:10] ErikKBethke commented on #34
`However, in trying to run python manage.py importlayers /mnt/apache/nas_data/tmp/PHP100.tif
I encounter the error
geonode.GeoNodeException: Please pass a filename or a directory name as the "incoming" parameter, instead of /root/mnt/apache/nas_data/tmp/PHP100.tif: <type 'str'>`

Following up, I am encountering difficulties similar to the ones that Stu found and posted in an earlier comment. There

[2017-06-16 09:49] fvanderbiest commented on #37
Unfortunately not.
We failed to make it work in a way which is compatible with our container orchestration (running rancher with cattle).

Here are some hints to get a production-ready composition :
 * use static images (no code mounted locally), regularly built by docker hub or any other (travic CI does it too), with proper tagging (no "latest" tag)
 * use named volumes for persistent data or ano

[2017-06-16 10:57] lucernae commented on #37
Hi @fvanderbiest I'm aware that this orchestration were not rancher ready, but didn't know that you guys were aiming for this.

I've been using rancher too a couple of weeks ago to try deploy this using rancher-cattle and I think I at least understand about these hints and it was on point. If what we aim is having a rancher-ready container, then what I can propose to @gubuntu is for us to create a

[2017-06-16 11:16] fvanderbiest commented on #37
Yes, the border between dev and ops is thin and continuously moving ...
It's difficult for us to build production-ready images when everything's moving and we're not in charge of the code.

This is the way to go, yes.

That's easy. IMO, it is important to have in mind that:
 * `named_volume:/path/to/image/folder` => `named_volume` gets bootstrapped with `/path/to/image/folder` contents.
 * data is

[2017-06-16 11:31] fvanderbiest commented on #37
Well, the example is not that good, since we're mounting the local `config` folder into the images.
Instead it should be a named volume.

[2017-06-20 10:01] vdeparday opened #51 "Homepage layout is off"
It is now like this ![image](https://user-images.githubusercontent.com/1036189/27327809-15051eba-55b0-11e7-88a1-b9ebfe3d4f6e.png)

And it used to be like that:
![image](https://user-images.githubusercontent.com/1036189/27327835-2b693754-55b0-11e7-914a-96a6271a99ac.png)

[2017-06-20 13:42] fvanderbiest commented on #37
Also improved with https://github.com/camptocamp/labs_geonode/pull/4 (we're planning to contribute it soon upstream)

[2017-06-21 02:02] cgiovando commented on #20
The Labs GeoNode is now on version 2.6, but this issue is still happening.

`http://www.geonode-gfdrrlab.org/geoserver/wcs?crs=EPSG%3A4326&service=WCS&format=GeoTIFF&request=GetCoverage&height=16744&width=43200&version=1.0.0&BBox=-187.27200037926434%2C187.27201915472722%2C-126.59567035338198%2C154.3123442971117&Coverage=hazard%3Ass_muis_rp0050m&access_token=fd4fd642562311e781cc02a677ab2e43`

retur

[2017-06-21 07:27] afabiani commented on #20
Hi, the GetCoverage request is wrong. If it has been automatically generated by GeoNode, this could be a side-effect of this bug on GeoNode

https://github.com/GeoNode/geonode/issues/3109

I will need to double check in order to understand why this is happening.

[2017-06-27 17:40] rmurnane commented on #20
I am also having problems downloading data. When trying to download SWIO data (COM, MAD, MUS, SEY, Zanzibar) I get the following error message:

<?xml version="1.0" encoding="UTF-8"?><ServiceExceptionReport version="1.2.0" >   <ServiceException code="InvalidParameterValue" locator="bbox">
      illegal bbox, minX: 37.56745399999999 is greater than maxX: -25.741642000000002
</ServiceException></Ser

[2017-06-28 16:39] ErikKBethke commented on #33
@fvanderbiest following up, do we have any progress on the ability to do searches for owner/POC/etc.?

Thank you!

[2017-06-28 16:44] ErikKBethke commented on #23
See pull request #50

[2017-06-28 16:46] ErikKBethke commented on #22
This appears to be working correctly. See minor change to way "email" displays (now it is "Email" for consistency) in pull request #50

[2017-06-29 13:47] Vampouille opened #52 "Permission issues in geoserver datadir"
New uploaded data belongs to root:

![capture du 2017-06-29 15-42-47](https://user-images.githubusercontent.com/7067560/27690534-e7965d3e-5ce1-11e7-9b6c-e26ad1287f8f.png)

We have to fix that. Geoserver should not run as root as in the current docker composition.

[2017-07-03 13:59] afabiani commented on #20
Dear all,
with this PR (https://github.com/GeoNode/geonode/pull/3158) I should have fixed the issue on GeoNode master branch.

As soon as the PR has been revised and merged, we can envisage to do a backport to GeoNode 2.6.1 (which, if I'm not wrong, should be the one you are currently using).

Nevertheless, in your specific case the Download Links have been already written into the DB. In order to

[2017-07-13 13:43] okjodom commented on #39
Hey @fvanderbiest , in reference to this closed issue, what was the fix for the libspatialitejdbc missing error. I'm having the exact same [java.lang.UnsatisfiedLinkError](https://github.com/GFDRR/geonode/issues/39) as above.

[2017-07-26 09:43] stufraser1 opened #53 "Homepage additions - risk and vulnerability data"
A banner for each of 'Risk' and 'Vulnerability' should also be added but we need to think of categories and icons for these. Under Risk, I would propose a combination of the hazard and exposure icons; for vulnerability, I would propose two categories at this stage (Socioeconomic, and Structural)

[2017-07-26 10:35] stufraser1 opened #54 "Add different licence types"
@vdeparday @ErikKBethke
Useful to add new, more specific, licence types to the licence field in metadata?
https://www.geonode-gfdrrlab.org/admin/base/license/

I'm thinking
CC-BY-SA
CC-BY-SA-NC
GNU
GPL
etc

[2017-07-26 10:41] stufraser1 opened #55 "Additions to Hazard units not showing in public site"
Additions made in June to
https://github.com/GFDRR/geonode/blob/hosting/geonode/base/enumerations.py
Are not showing in https://www.geonode-gfdrrlab.org metadata options.

Specifically units:
FWI - Canadian Fire Weather Index
FAI - Flooded area intensity

[2017-07-26 10:57] stufraser1 commented on #25
@ErikKBethke
Can you look into doing this. It is not possible to add new categories at https://www.geonode-gfdrrlab.org/admin/base/topiccategory/
Nor is it possible to select multiple categories. Everything we have uploaded that is hazard data is currently geoscientific information, which is too broad a category IMO.
In this case, I suggest that data that have been specifically developed and used

[2017-07-26 15:35] Vampouille commented on #20
Following query should fix download link in database :

[code]

[2017-07-27 11:35] fvanderbiest commented on #20
Nice SQL query :-)
@Vampouille did you run it on both dev and prod servers ?

[2017-07-27 12:53] Vampouille commented on #20
@afabiani I backport your PR our 2.6 branch with : https://github.com/camptocamp/labs_geonode/pull/7

I try to fix link stored in DB by updating `csw_anytext` on `base_resourcebase` table. But it does not seem to work. Do you known where those links are stored in DB ?

Additionally, I test on:
http://www.geonode-gfdrrlab.org/layers/hazard%3Ass_muis_rp0050m
download link of this layer :
https://www

[2017-07-27 13:39] Vampouille commented on #20
Links behind "Download layer" are stored in `base_link` table so following query should be applied:

[code]

**Already applied on geonode int server**

So third link on this layer :
http://int.geonode-gfdrrlab.org/layers/hazard%3Ass_muis_rp0050m
has a valid bbox values and order:

https://int.geonode-gfdrrlab.org/geoserver/wcs?crs=EPSG%3A4326&service=WCS&format=GeoTIFF&request=GetCoverage&height=1

[2017-08-01 09:22] stufraser1 opened #56 "Server Error message - metadata update"
When saving updated metadata, and 'Internal Server Error' message appears, though the changes appear to have been saved. This occurred repeatedly when saving changes to Data Quality scores in metadata - no other use cases tested.

[2017-08-01 10:11] fvanderbiest commented on #20
Image `camptocamp/geonode_django:labs_geonode_2.6.x_20170727140636` deployed to production geonode and production db updated:
[code]

The issue should be fixed now.

[2017-08-01 13:36] #17 closed, assigned to nobody

[2017-08-01 14:05] fvanderbiest commented on #56
I got a stack trace, it's an SSL certificate issue during communication with geoserver:
[code]

[2017-08-01 14:06] #46 closed, assigned to fvanderbiest, Vampouille

[2017-08-02 07:23] fvanderbiest commented on #56
Also ...

[code]

[2017-08-02 08:45] stufraser1 opened #57 "problem uploading (documents via UI)"
The two most recently uploaded documents (both using URL, not PDF file) gave 'Internal Server Error) screen on upload.
They are stored with incorrect link: https://geonode-gfdrrlab.org/documents/?limit=100&offset=0
which is the page that lists all documents, where they should be stored at https://www.geonode-gfdrrlab.org/documents/<documentNumber>

[2017-08-02 09:00] fvanderbiest commented on #56
As stated in the [ssl doc](http://docs.geonode.org/en/master/tutorials/advanced/geonode_production/ssl.html) I've added the site certificate to httplib2's `cacerts.txt`:
[code]
but this did not help.

Still trying to figure out how to fix this.

[2017-08-02 09:10] stufraser1 opened #58 "Some datasets reference old IP address (45.55.174.20)"
Several records provide service URLs which often result unavailable due to host  IP issue.
E.g. The dataset with identifier  da39df56-03f1-11e7-97d7-040146164b01 available at: http://www.geonode-gfdrrlab.org/catalogue/csw?outputschema=http%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd&service=CSW&request=GetRecordById&version=2.0.2&elementsetname=full&id=da39df56-03f1-11e7-97d7-040146164b01
provides sever

[2017-08-02 09:49] fvanderbiest commented on #56
My guess is that something changed with the certificate generation, and httplib2 0.9.2 (which is geonode's default version) is not able to cope with that anymore.

Here's what happens on the server with httplib2 0.9.2:
[code]

While on my computer with latest httplib2 release (0.10.3):
[code]

[2017-08-02 13:29] fvanderbiest commented on #56
Fixed with https://github.com/camptocamp/labs_geonode/pull/8, deployed to int.
Will push this to prod ASAP with https://github.com/camptocamp/terraform-geonode/commit/3cfad2bf01c2e8d0bcff52a1922619ce71c7b1b1

[2017-08-02 13:38] fvanderbiest commented on #56
This is now fixed.

[2017-08-02 13:38] #56 closed, assigned to nobody

[2017-08-02 13:42] fvanderbiest commented on #55
Here's what happens:
 * you commit to https://github.com/GFDRR/geonode/commits/hosting
 * we build images & deploy from https://github.com/camptocamp/labs_geonode/commits/labs_geonode_2.6.x

Our fault, sorry for that.
I'll cherry pick your commit, then make your repository the default one to build from.

[2017-08-02 13:55] fvanderbiest commented on #57
Also fixed with latest deploy (featuring httplib2 upgrade https://github.com/camptocamp/labs_geonode/pull/8)

[2017-08-02 14:15] fvanderbiest commented on #55
Done:
 * cherry-picked your commits to `labs_geonode_2.6.x`
 * pushed branch `labs_geonode_2.6.x` to https://github.com/GFDRR/geonode
 * built a new image `camptocamp/geonode_django:20170802161031`
 * deployed it to int and prod with https://github.com/camptocamp/terraform-geonode/commit/b6d0e8e11031318bbcb3c2c12e49f55b5ba91684

Can you (or someone with repository admin rights) head to https://git

[2017-08-02 14:31] fvanderbiest commented on #58
Indeed, it seems the `metadata_xml` column from `base_resourcebase` was not updated during the migration process.

[2017-08-02 14:35] fvanderbiest commented on #58
On int:
[code]

On prod:
[code]

[2017-08-02 14:35] #58 closed, assigned to nobody

[2017-08-03 09:22] fvanderbiest commented on #56
Reported upstream with https://github.com/GeoNode/geonode/issues/3194

[2017-08-04 08:49] fvanderbiest commented on #15
Not relevant anymore

[2017-08-04 08:49] #15 closed, assigned to fvanderbiest

[2017-08-04 08:49] fvanderbiest commented on #19
Not relevant anymore

[2017-08-04 08:49] #19 closed, assigned to fvanderbiest

[2017-08-04 08:50] fvanderbiest commented on #20
Can we close this one ?

[2017-08-04 08:53] fvanderbiest commented on #33
I could reproduce, indeed there's no autocomplete on these fields, eg
![capture du 2017-08-04 10-52-56](https://user-images.githubusercontent.com/265319/28961588-23967df4-7903-11e7-8d06-09573f6b6496.png)

No JS error, no XHR triggered ... will look into it.

[2017-08-04 08:57] fvanderbiest commented on #40
This happens in fact when queries still reference older layers...

[2017-08-04 08:57] #40 closed, assigned to fvanderbiest

[2017-08-04 11:32] stufraser1 commented on #34
@ErikKBethke was this resolved for you?

[2017-08-04 11:48] stufraser1 commented on #18
@vdeparday Should we in fact not add these, given these are relevant only to TH! data?

[2017-08-04 12:16] vdeparday commented on #18
@stufraser1 I think we can add them to GeoNode but them not display in the layer profile, or only for admin user / super user.

[2017-08-04 13:00] vdeparday commented on #18
Confirmed that it is not necessary to have those on the public metadata page.

[2017-08-04 13:00] #18 closed, assigned to nobody

[2017-08-04 13:12] #54 closed, assigned to nobody

[2017-08-04 13:14] vdeparday commented on #51
I meant the margin below Open Data to further your understanding. I think we can just delete the Welcome to get back in the previous state.

[2017-08-07 06:51] cgiovando opened #59 "Exception with CSW POST requests"
This might affect GeoNode master, but posting here first, since it was discovered by [GEODAB team](http://www.geodab.net/) while testing Labs GeoNode harvesting in the [GEO Portal](http://www.geoportal.org/).

@afabiani please take a look and let us know what might be the issue. Thanks!

<csw:GetRecords xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:dct="http://purl.org/dc/terms/" xmlns:csw="ht

[2017-08-08 13:53] stufraser1 opened #60 "Options to access geonode server"
IP ranges have proven to be unreliable (have already needed to open from 1 IP address, to a range of IPs to a wider range of IPs in the case of automatically changing IPs).
Is there a suitable alternative that will facilitate access from the WB - use of particular SSH keys, for example?
@vdeparday  @ErikKBethke  pls add any specific requirements for WB access

[2017-08-10 12:05] stufraser1 commented on #57
This still seems to be a problem.
https://www.geonode-gfdrrlab.org/documents/?limit=100&offset=0
Shows document 'Videos of volcanic risk - BGS'. This was uploaded with URL and error 'Internal Server Error' was received. While the document appears in this list, and has a document number created on the admin side, the upload process does not allow editing of metadata directly, and no link to the doc

[2017-08-10 12:11] stufraser1 commented on #33
Also applicable in admin side, for example on entering text into auto box 'Keywords region:' at https://www.geonode-gfdrrlab.org/admin/documents/document/1334/

[2017-08-10 21:39] vdeparday commented on #60
@fvanderbiest we really need to be able to administrate from the WB network. Could we put this issue as a higher priority? Could you suggest alternative to whitelisting IP? Thank you.

[2017-08-11 08:59] Vampouille commented on #60
It seems that ip range are not wide enough to always match your ip address so we will open ssh service to all ip addresses. @saimonn can you remove ip filter on gfdrr prod server ?

[2017-08-11 09:07] saimonn commented on #60
I just opened the ports `tcp/2222` & `2223` without IP filtering. I kept the IP range filters on the `tcp/5432` port though.

[2017-08-22 06:50] Vampouille opened #61 "Maintenance on geonode server"
Our sysadmin team need to make an update on geonode server. They need to change type of ip address allocated to the server to an "Elastic IP". Without this Elastic IP, if we shutdown the server, it may loose its IP address and catch another IP address after reboot.
This maintenance will take around 5 minutes based on dns propagation duration.

@stufraser1 When can we make this maintenance ?

[2017-08-22 11:47] fvanderbiest commented on #61
To my knowledge, GeoNode is only used by TH.
No worries as long no one fires `make harvest` in the mean time.

[2017-08-25 08:31] afabiani commented on #59
Check the version of pycsw. I'm aware of a recent version having issues with lxml library and not working properly.

[2017-08-25 10:31] cgiovando commented on #59
Thanks, @afabiani - can you tell us what version is confirmed to work?

@fvanderbiest can you double check what version we have on the Lab's instance?

[2017-08-25 12:26] afabiani commented on #59
On GeoNode master branch we are currently using 2.0.3, and it's working
quite well.

[2017-08-25 14:29] stufraser1 commented on #28
@fjacon Please could you action this as high priority.
We need to have these document thumbnails working as soon as possible for imminent publicity of the geonode

[2017-08-25 14:33] vdeparday opened #62 "Layer thumbnail with background map"
In the layer list, the thumbnails do not have any background map. It would look much better with background map. It is normally possible to have some.
@ErikKBethke , normally you can do it manually. You can select the layers in one page and generate for all of them. Just gonna take a few click page unfortunately.

[2017-08-25 14:39] vdeparday commented on #55
I just set up the default branch to labs_geonode_2.6.x

[2017-08-25 14:39] #55 closed, assigned to fvanderbiest, Vampouille

[2017-08-29 07:06] fvanderbiest commented on #61
Done.

[2017-08-29 07:06] #61 closed, assigned to fvanderbiest, Vampouille

[2017-08-29 07:09] fvanderbiest commented on #60
Closing.
Please reopen if required.

[2017-08-29 07:09] #60 closed, assigned to fvanderbiest

[2017-08-29 07:24] fvanderbiest commented on #55
Thanks,
`camptocamp/labs_geonode` repo has been removed.

[2017-08-29 07:31] fvanderbiest commented on #59
It's supposed to be 2.0.2 as per https://github.com/GFDRR/geonode/blob/e9f6228025e6819a5392930a880ef04d73ebd67d/requirements.txt#L61

[2017-08-29 08:56] fvanderbiest commented on #33
On int, we're now up to date with geonode 2.6.2 that was released last week.
I'll test with a fresh install to check where the issue comes from.

[2017-08-29 12:09] fvanderbiest commented on #33
With https://github.com/fvanderbiest/ansible_vagrant_geonode I bootstrapped a fresh 2.6.2 Geonode in a clean environment.
The behavior is the same.

I'll try with geonode master to check if there's a fix upstream.

[2017-08-29 13:12] fvanderbiest commented on #33
The setup failed for some reason.

I'm asking the community with https://github.com/GeoNode/geonode/issues/3245

[2017-08-30 07:21] fvanderbiest commented on #34
Tested fully functional on int today, closing.
[code]

Please reopen if required.

[2017-08-30 07:21] #34 closed, assigned to fvanderbiest, Vampouille

[2017-08-30 07:37] fvanderbiest commented on #34
BTW, side note for my colleague @Vampouille I stumbled upon this WARNING while uploading: https://github.com/GeoNode/geonode/pull/2711

Fixed by migrating the TEMPLATE_* settings (from local_settings.py on int and prod) into a single TEMPLATES var as per https://github.com/GeoNode/geonode/pull/2711/commits/454855a9a523727bc9248eb715f9f68d9f4fc385#diff-244cdfc4e5e50d8ee9386be986629b6aR381

[2017-08-30 12:30] stufraser1 opened #63 "Unable to update styles"
The style editing feature on GeoNode is full of bugs.
Working on https://www.geonode-gfdrrlab.org/layers/hazard:ts_mih_rp100
I have been able twice to assign a new style to a layer, and edit values and colours of the style, but this does not save when complete. Other times I'm unable to even open the style editing window, or change the style which is shown in the map window. It is very unreliable

[2017-09-01 15:38] afabiani commented on #28
Hi, on GeoNode master branch / 2.7.x branch, we already provided the possibility of creating screenshots of Documents during the upload.
The outcome is similar to this one:

![image](https://user-images.githubusercontent.com/1278021/29976567-bc342bc2-8f3a-11e7-9778-8fe58192515e.png)

The only problem is that you need to install on your system "unoconv" and libreoffice libraries, and be shure that

[2017-09-04 15:35] cgiovando commented on #25
You can add categories from https://www.geonode-gfdrrlab.org/admin/base/topiccategory/

Custom icon can be added through the `Fa class:` element in each category admin page, by selecting from http://fontawesome.io/icons/ and using the corresponding code (e.g. [`fa-github`](http://fontawesome.io/icon/github/) for the GitHub icon)

[2017-09-15 07:42] Vampouille commented on #33
I re-apply our docker setup on 2.7.x branch and it fix POC and metadata author fields update. Autocompletion on those fields are also working.

![capture du 2017-09-15 09-41-39](https://user-images.githubusercontent.com/7067560/30471742-2560fe6c-99fa-11e7-9f3c-13aff1f7ba4d.png)

[2017-09-27 14:46] ErikKBethke commented on #33
Great to see re-applying the docker seems to fix the issue @Vampouille. Any idea when this could get pushed live?

[2017-09-28 10:00] Vampouille opened #65 "Load on prod host due to geoserver"
There is currently a high load on prod server: 27. Geoserver use all cpu at 100%. @stufraser1 are you using geoserver (publish layers) ?

Can I reboot geoserver to fix load ?

[2017-09-28 10:21] stufraser1 commented on #65
No Im not using it, please go ahead

[2017-09-28 11:40] Vampouille commented on #65
geoserver has filled temp directory of geoserver image so root partition was full. I delete tomcat temp dir and restart geoserver.
Everything is working now, but we have an issue on our side about monitoring: disk usage and memory used does not reflect real usage on host. I will try to fix this.

[2017-09-28 11:40] #65 closed, assigned to stufraser1

[2017-09-28 16:26] Vampouille commented on #33
I just finish installation on int env. ... but I had to make several manual operation :

image change : camptocamp/geonode_django:20170831131436 --> camptocamp/geonode_django:2.7-gfdrr-7ea0951

[code]
celery tables were empty so I drop it and let django recreate those tables :

[code]
[code]

bbox_x0 is not present in migrations files. So I drop table and restore it from a fresh database from dock

[2017-10-03 11:47] Vampouille commented on #33
Geonode 2.7 fix auto-completion on author, owner and point of contact fileds. But modification on those fields are not saved in database. I will investigate on difference between local run of docker composition and installation on int env.

[2017-10-04 15:19] ErikKBethke commented on #23
See pull request #66

[2017-10-04 15:20] ErikKBethke commented on #22
See pull request #66

[2017-10-11 19:19] ErikKBethke commented on #20
When attempting to download rasters, such as [this layer](https://www.geonode-gfdrrlab.org/layers/hazard:ts_mih_rp100), there is an issue where the file download becomes much larger than the original file size.

@vdeparday believes it may be a result of the default WCS request. Thoughts?

[2017-10-11 19:39] vdeparday commented on #20
Yes, the various return periods for this layer have the issue. It looks like the layer also does not display on the map:

![image](https://user-images.githubusercontent.com/1036189/31462293-50a48e04-ae9a-11e7-8798-92d785ac7a79.png)

[2017-10-11 19:44] vdeparday commented on #20
actually looks like the rendering is fine (just somehow this layer does not show coastal flood in this area which seems to be wrong but the rendering is fine. However, the WCS request does not work.

[2017-10-12 10:44] stufraser1 commented on #27
@fjacon please can you action the changes to the geonode homepage (adding icons, data categories) in this and other high priority issues? We need these updates before we start marketing the geonode more heavily, which we would like to start. Thanks

[2017-10-12 14:08] stufraser1 commented on #33
@Vampouille @vdeparday @ErikKBethke  We need a resolution to this, so we can publicise geonode and TH! more widely - at present, data owner in TH is not shown accurately, due to this issue, and we should be able to correct the data owner.

[2017-10-12 14:39] #21 closed, assigned to nobody

[2017-10-12 14:41] stufraser1 commented on #28
@Vampouille  any progress on this one please? Would be good to have this working

[2017-10-12 16:32] stufraser1 commented on #51
@Vampouille can this (simple) change be made quickly so we can close this issue?

[2017-10-16 12:43] Vampouille commented on #33
I just switch prod instance on geonode 2.7:
camptocamp/geonode_django:20170802161031 --> camptocamp/geonode_django:2.7-gfdrr-7ea0951

I need to delete celery tables with :
[code]

[2017-10-17 11:36] Vampouille commented on #27
@stufraser1 I'm working on adding new icons. I notice that landslide icon has wrong size: 120px instead of 64px. I can reduce 120px image size but we could have better result if we start from image source. So do you have landslide icon with big resolution ?

[2017-10-17 12:07] Vampouille commented on #27
I also had to adjust color of new icons to match other icons color:
Original color of new icon:
![original-icon](https://user-images.githubusercontent.com/7067560/31664046-38f9f40c-b344-11e7-8b84-2c486a86917e.png)
New icon with color that match other icons color:
![hazard-icon-wildfire](https://user-images.githubusercontent.com/7067560/31664080-5d4f3be6-b344-11e7-95ed-457e433922ba.png)

[2017-10-17 12:25] stufraser1 commented on #27
Original LS icon is contained here, colour will need updating too
[DisasterIcons.zip](https://github.com/GFDRR/geonode/files/1390914/DisasterIcons.zip)

[2017-10-17 13:53] Vampouille commented on #27
Zip archive does not contains current icon for landslide:
![hazard-icon-landslide](https://user-images.githubusercontent.com/7067560/31668684-2bf0c7c2-b353-11e7-854b-c1322dc4797d.png)

[2017-10-17 14:11] stufraser1 commented on #27
Ah yes, I supplied the icon used in TH. We should take this chance to match the geonode icons to those used for TH! and RODI sites - see below, and in the TH code. @vdeparday do you agree?

@Vampouille  this would mean updating the river FL and coastal FL icons too - icons in this PDF as well as in TH code:  [disaster_icon_june_2015_C.pdf](https://github.com/GFDRR/geonode/files/1391251/disaster_ic

[2017-10-19 09:53] Vampouille commented on #51
Done with: https://github.com/Vampouille/geonode/commit/ac3ab00074e3a22a977b8981a5f47dfbe191d257 and build in docker image camptocamp/geonode_django:20171019113544 and camptocamp/geonode_django:2.7-gfdrr-ac3ab00-psycopg2.7
I just install it on int instance, run a `python manage.py collectstatic` to deploy static files and run `python manage.py migrate` to migrate database.

[2017-10-19 09:54] Vampouille commented on #27
Done with: https://github.com/Vampouille/geonode/commit/d9469cf11764d04eda6f3fd0c8aed977917c6d93 and build in docker image camptocamp/geonode_django:20171019113544 and camptocamp/geonode_django:2.7-gfdrr-ac3ab00-psycopg2.7
I just install it on int instance, run a `python manage.py collectstatic` to deploy static files and run `python manage.py migrate` to migrate database.

[2017-10-19 09:55] Vampouille commented on #27
TODO: update river FL and coastal FL icon to match TH layout.

[2017-10-19 11:16] Vampouille commented on #51
Also applied on prod instance

[2017-10-19 11:16] Vampouille commented on #27
Also applied on prod instance

[2017-10-19 21:32] vdeparday commented on #27
I see a layout issue on chrome with the new icons:

![image](https://user-images.githubusercontent.com/1036189/31795353-7be9b60c-b4f3-11e7-81b2-763f38f4f9c0.png)

[2017-10-19 21:33] vdeparday commented on #51
I still see the same layout issue:
![image](https://user-images.githubusercontent.com/1036189/31795387-9997240a-b4f3-11e7-98a9-cd8cb67e4d31.png)

[2017-10-20 06:32] fjacon commented on #27
I cannot reproduce on chrome Version 62.0.3202.62.
But i am on Ubuntu.

[2017-10-24 05:46] Vampouille commented on #27
It appears when width of browser window is less than 1200px. @tonio any idea about this layout issue ?

[2017-10-24 06:09] tonio commented on #27
Set a height for every grid item (`.col-xs-4.col-sm-3`). Having the same height will avoid floating items to snap  on tallest elements (`15em` seems to be a good value).

[2017-10-24 08:26] stufraser1 commented on #33
Hi @Vampouille
@ErikKBethke notes the owner/author fields are still not populating. I understand from the above you're still working on this? Do you have an idea of when it might be resolved? i.e. will it be on the next version of geonode or fixable in this version? Thanks

[2017-10-25 10:48] stufraser1 commented on #27
To Do:
- [x] update river FL icon to match TH layout.
- [x] update coastal FL icon to match TH layout.
- [x] update landslide FL icon to match TH layout.

When these are live this issue can be closed

[2017-10-25 10:54] stufraser1 commented on #51
@vdeparday I can't replicate this - tested on Firefox and Chrome on wide and small screen
Can you check and close if you see its resolved? Thanks
This is what I see in all cases
![image](https://user-images.githubusercontent.com/12515042/31995192-5767c35a-b97b-11e7-959e-9cd7283fb342.png)

[2017-10-25 10:58] stufraser1 commented on #28
@Vampouille @fjacon Please can you action this, it is important so we can promote Geonode more widely.

[2017-10-26 15:40] vdeparday commented on #51
Working now, may have been some caching issues although I forced refreshed.

[2017-10-26 15:40] #51 closed, assigned to Vampouille

[2017-10-26 15:41] vdeparday commented on #28
if I remember correctly, I think we need to log in, and do it manually from the user interface. We can do bulk (per page).

[2017-10-27 14:25] vdeparday opened #67 "GAR17 - projection preventing layer showing"
![image](https://user-images.githubusercontent.com/1036189/32108890-0bec097c-bb01-11e7-86f5-8c13ad5b6605.png)

![image](https://user-images.githubusercontent.com/1036189/32108925-2287d666-bb01-11e7-9ac5-b8aff3b8928c.png)

[2017-11-01 10:22] stufraser1 commented on #28
I am hoping we can have the "unoconv" and libreoffice libraries installed as advised, which will mean the thumbnails update automatically. Manual update is not a realistic option. @Vampouille are you able to install these libraries please?

[2017-11-02 16:28] Vampouille commented on #27
@stufraser1 In order to sync icons between TH and geonode, I have use same method as TH to include icons: use a dedicated font that include all icons :
https://github.com/GFDRR/thinkhazard/tree/master/thinkhazard/static/webfonts/thinkhazard/fonts
This way, we have only one file to update for all icons and this file is share between TH and geonode. I think this is the best way to keep icon synced b

[2017-11-02 16:31] Vampouille commented on #27
About layout issue, it's fixed by : 734efa0bc43d854e778e67cbd0687b423a08b115
But not already deployed.

[2017-11-02 16:59] stufraser1 commented on #27
RE 'Do you have an newer font with "drought" icon ?'
We only use Water scarcity in TH!, so we do not have the geonode drought icon in TH. Can you include the Drought icon (the dying plant and land) into the TH file, without implementing it in the UI? In the future we may want to add that as a separate hazard, as it is distinct from water scarcity (for clarity, the tap icon) so it may be helpful to

[2017-11-03 07:53] Vampouille commented on #27
yes I will try to include Drought icon in font.

[2017-11-03 14:28] Vampouille commented on #27
I include Drought icon in font with a83aa3173d874706cf2b6dac05c3b024b63dccd7 (not deployed). I plan to deploy this update next week.

[2017-11-08 14:56] Vampouille commented on #27
I try to include upstream modification from 2.7.x branch but this breaks login page. Issue can be found here : https://github.com/GeoNode/geonode/issues/3172
I will try to revert updates from upstream

[2017-11-09 13:23] Vampouille commented on #27
Update int and prod instance with:
* Fix home layout: 3c8df06bbc57a9104c946bac7fddb93f29b726a2
* Fix hazard icons: f8e4c40e0847cb247bbf5be42a8f371fd4a3051a

2.7-gfdrr-ac3ab00-psycopg2.7 --> v1-20171109110306

I also introduce git tag to keep track of each rebase of gfdrr_rebase branch. Each rebase will introduce a new tag: v*X* where*X* is a counter. Currently there is one tag : v1

[2017-11-09 13:24] Vampouille commented on #27
@stufraser1 Icons are now synced with TH! on prod and int server.

[2017-11-09 13:32] stufraser1 commented on #27
Great, looks good. Thank you. Closing

[2017-11-09 13:32] #27 closed, assigned to nobody

[2017-11-09 15:15] stufraser1 commented on #57
Today, I can upload a document (https://www.geonode-gfdrrlab.org/documents/1376) but not update its metadata effectively. - I enter an abstract or supplemental information in the metadata wizard and in the advanced metadata editing facility, and it fails to update either way.

[2017-11-22 15:07] Vampouille commented on #28
It's not working within docker python:2.7 based on debian jessie and also not working on python:2.7-stretch based on debian stretch. But it works on native (non-docker) debian stretch without X server. Within docker image, it only work with image based on Ubuntu xenial. I will try to find what's wrong with python:2.7-stretch and also try with ubuntu xenial docker images.

[2017-11-23 16:55] Vampouille commented on #28
I just update int instance with v2-20171123173713 version of geonode that include a working unoconv. Unfortunately it is based on ubuntu xenial.
I also upload a test document:
https://int.geonode-gfdrrlab.org/documents/?limit=100&offset=0
Thumbnail is correctly generated.
This commit: https://github.com/GFDRR/geonode/commit/c9c04e117e68ab1b8650b11d53e4883bc6dce2df add needed dependencies to run un

[2017-11-24 14:56] stufraser1 commented on #28
@Vampouille  Thank you - do you know whether we can enable the thumbnails of all existing documents, or is it only new documents that will have the thumbnail enabled?
Is this ready to implement on public version of Geonode?

[2017-11-26 21:07] fjacon commented on #28
It will be necessary to write a script to enable thumbnails on existing documents.

[2017-11-27 07:57] Vampouille commented on #28
Modifications only impact docker image, no change in geonode code. I will contribute installation of unoconv to dockerize PR (https://github.com/GeoNode/geonode/pull/3451)

[2017-11-27 09:34] Vampouille commented on #28
Document : WB_SWIO_RAFI_Component_4_RiskProfiles_Final_Report_uiKXkto.pdf seems to be corrupted.

[2017-11-28 12:41] stufraser1 commented on #28
Interesting - I think that was the document I updated metadata for, to see if it would refresh with a thumbnail. I'll replace the file.

[2017-11-28 12:43] stufraser1 commented on #28
@fjacon
RE 'It will be necessary to write a script to enable thumbnails on existing documents.'
Please factor this into job planning - we'll need to have all documents thumbnail-enabled.

[2017-11-28 12:45] fjacon commented on #28
I told @Vampouille to enable  thumbnails on existing documents and push to geonode prod.
It looks like we can do it this week.

[2017-12-01 12:28] Vampouille commented on #28
I start a script to update thumbnails for current documents on int instance, it will takes several hours.

[2017-12-06 22:13] vdeparday opened #68 "Basemap options - updates (clean up)"
![image](https://user-images.githubusercontent.com/1036189/33688186-88d2529a-daa8-11e7-8b9c-ac942a36f078.png)

For OSM, I think it is fine with that it is there besides Mapquest. Then maybe we should add Bing or Google Sattelite to replace Mapquest Sattelite.

[2017-12-07 21:05] vdeparday opened #69 "Download as geotiff is not available"
![image](https://user-images.githubusercontent.com/1036189/33738756-5acda14a-db68-11e7-84cb-f9680f83f05c.png)

This layer for example:
https://www.geonode-gfdrrlab.org/layers/hazard:viento_mundo_tr50_int1

[2017-12-08 07:23] Vampouille commented on #28
Thumbnail are now generated on prod instance for local document. I cannot generate thumbnail for external documents. There is 230 new thumbnails, 2 documents cannot be converted :
* [827](https://www.geonode-gfdrrlab.org/documents/827) - Detailed island risk assessment in Maldives - Hazard profiles and physical vulnerability Vol 1 - Synthesis Report
* [806](https://www.geonode-gfdrrlab.org/documen

[2017-12-08 08:40] stufraser1 commented on #28
@Vampouille  thank you - so when we upload new documents, they will automatically create a thumbnail?
'External docs' - these are ones with a URL to website or pdf, rather than a pdf stored on geoserver?

[2017-12-08 08:50] Vampouille commented on #28
yes

yes

[2017-12-08 10:27] stufraser1 commented on #28
Tested a document upload, thumbnail generated. Closing. Thanks @Vampouille

[2017-12-08 10:27] #28 closed, assigned to Vampouille

[2017-12-08 10:30] stufraser1 opened #70 "Thumbnails for URL documents"
Need to request to geonode developers, whether thumbnail can be developed from URL links, website pages etc.

[2017-12-14 18:40] stufraser1 commented on #11
still occurs in some layers

[2017-12-15 14:50] ErikKBethke commented on #11
[Example layer](https://www.geonode-gfdrrlab.org/layers/hazard:als07_975yr):
![image](https://user-images.githubusercontent.com/26065559/34047144-47a73070-e17d-11e7-904d-b086e750eb73.png)

[2017-12-15 14:51] stufraser1 commented on #68
- [ ] remove mapquest imagery - redundant and nonfunctioning.
- [ ] remove mapquest OpenStreetMap - redundant and nonfunctioning.
- [ ] Capitalize MapBox
- [ ] Add Google Satellite or equivalent

[2017-12-15 15:07] ErikKBethke commented on #20
Bounding box issue seems to have resurfaced:

[Example layer](https://www.geonode-gfdrrlab.org/layers/hazard:ts_mih_rp1000)
Example response:
<ows:ExceptionReport xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0.0" xsi:schemaLocation="http://www.opengis.net/ows/2.0 http://schemas.opengis.net/ow

[2017-12-15 15:22] stufraser1 commented on #63
List various issues [Erik]

Short term: Try new SLD export from QGIS and upload in GeoServer Backend

Medium term option:
Possible to add alternative styling and mapping client? - from other GeoNode community members.
Look into options.
Switching to QGIS-Server

[2017-12-15 15:29] stufraser1 commented on #62
Camptocamp:
- Try to define when this is a problem
- Potential short-term solution: run updatelayers on backend, this should set thumbnails.
- Identify long-term fix

[2017-12-15 15:31] stufraser1 commented on #59
@cgiovando Is this still an issue? If so, what are next steps / identified resolution for this?

[2017-12-15 15:34] stufraser1 opened #71 "Metadata not saving changes"
Having uploaded a document (eg. https://www.geonode-gfdrrlab.org/documents/1376) but not update its metadata effectively. - I enter an abstract or supplemental information in the metadata wizard and in the advanced metadata editing facility, and it fails to update either way.

[2017-12-15 15:35] stufraser1 commented on #52
@Vampouille  Any updates on this?

[2017-12-15 15:36] vdeparday commented on #48
Reconsidering the best approach for this.

[2017-12-15 15:36] #48 closed, assigned to nobody

[2017-12-15 15:40] vdeparday commented on #47
Narrowing the scope only for ThinkHazard!
@fjacon could you provide us with technical options and associated LoE to enable ThinkHazard! to use remote layer from Afghanistan GeoNode?

[2017-12-15 15:41] stufraser1 commented on #42
@fvanderbiest @Vampouille  Any updates please?

[2017-12-15 15:42] stufraser1 commented on #26
Reconsidering scope of Labs geonode to host hazard data for TH! No need for exposure icons. Closing.

[2017-12-15 15:42] #26 closed, assigned to nobody

[2017-12-15 15:44] stufraser1 commented on #35
Python sftp update is working. Sometimes the UI upload works, other times it times out.

[2017-12-15 15:46] vdeparday commented on #37
@cgiovando @gubuntu @fvanderbiest is the QGIS-Server backend now fully rancher ready?

Before moving forward with this, I would like to have a clear documentation and diagnostic of the implications (permissions, client, link with ThinkHazard! harvesting process, etc...) of the move to QGIS-Server and a more general summary of the pros, cons, potential issues linking with ThinkHazard.

@cgiovando c

[2017-12-15 15:46] stufraser1 commented on #31
@ErikKBethke developing an automated process which will leverage this.

[2017-12-15 15:48] stufraser1 commented on #25
Scope of this geonode narrowed to hazard data only. Not required

[2017-12-15 15:48] #25 closed, assigned to nobody

[2017-12-15 15:51] stufraser1 commented on #53
Narrowed scope of this geonode - not required.

[2017-12-15 15:51] #53 closed, assigned to nobody

[2017-12-15 15:52] stufraser1 commented on #30
see #63

[2017-12-15 15:54] stufraser1 opened #72 "Homepage - remove postdisaster data section"
Scope of this geonode narrowed - postdisaster category not required, please remove from home page

[2017-12-15 15:55] stufraser1 opened #73 "Homepage - adjust branding"
Scope of this geonode narrowed - homepage to be adjusted accordingly

- [ ] To be branded as ThinkHazard Geonode - use TH! logo, rather than innovation labs logo on homepage
- [ ] Image to match logo style
- [ ] Add text to describe scope: as support to TH! - GFDRR to provide
- [x] Remove Vivien email for feedback, replace with link to TH! feedback form
- [ ] Add footer with three logos, to match

[2017-12-15 23:35] stufraser1 opened #74 "Add Google Analytics"
track usage using the following Global Site Tag (gtag.js):

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-75301865-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-75301865-2');
</script>

[2018-01-16 13:33] fvanderbiest opened #75 "GeoServer container writes"
root@e70d55112a52:/usr/local/tomcat/webapps/geoserver/WEB-INF# cat web.xml
[code]

Should probably be `PARTIAL-BUFFER2` instead.

[2018-01-16 13:33] fvanderbiest commented on #75
See http://docs.geoserver.org/stable/en/user/production/config.html#set-a-service-strategy

[2018-01-29 12:24] Vampouille commented on #75
Fixed with https://github.com/camptocamp/geonode-geoserver-docker/commit/4a21fd55d14c3f600f643459e84846f69c0e4515 and apply with https://github.com/camptocamp/terraform-geonode/pull/18

[2018-01-29 12:25] Vampouille commented on #75
Let's wait some days to see if this fix this issue

[2018-02-08 08:04] Vampouille commented on #75
It seems that this fix don't have any effect on geoserver. We need to find another way to avoid writes in container.

[2018-02-08 08:37] fvanderbiest commented on #20
Can you open a different issue for this one ?
...specifying which output format you choose. Thanks.

[2018-02-08 08:44] fvanderbiest commented on #20
The layer was uploaded on 2017-08-15, which is 15 days after we applied the [above SQL fix](https://github.com/GFDRR/geonode/issues/20#issuecomment-319328972) on the db.
The upload process is probably still buggy. We'll have a second look at it.

[2018-02-08 10:03] fvanderbiest commented on #69
Looks like a permission issue with your account, since, once logged in with an admin profile, the data tab shows up.
![capture du 2018-02-08 11-02-19](https://user-images.githubusercontent.com/265319/35966934-9ea3e6b2-0cbf-11e8-907a-768bb7556ca6.png)

[2018-02-08 10:03] fvanderbiest commented on #69
Nope, you were not connected...

[2018-02-08 11:42] fvanderbiest commented on #30
PR proposed upstream with https://github.com/GeoNode/geonode/pull/3604

[2018-02-08 12:22] fvanderbiest commented on #30
Cannot push this to int server, since the docker build step cannot be reproduced.
It fails at this step:
https://github.com/GFDRR/geonode/blob/8535c508b0b0fb38ce893cf5ed53478784035239/Dockerfile#L65
[code]

Since there was a message invitating to migrate from `bower` to `yarn`, @tonio and I gave a try at https://github.com/sheerun/bower-away but this did not succeed.

This requires a deeper look.

[2018-02-08 12:23] fvanderbiest opened #76 "Docker build fails"
Issue description at https://github.com/GFDRR/geonode/issues/30#issuecomment-364095720

[2018-02-23 08:19] Vampouille commented on #75
The temp file looks like a raw raster, see metadata in headers
[code]

[2018-02-23 08:42] fvanderbiest commented on #75
The service is currently DOWN, due to disk being filled with those temp files. We're currently working on it.

[2018-02-23 09:09] fvanderbiest commented on #75
On https://www.geonode-gfdrrlab.org/geoserver/web/wicket/bookmarkable/org.geoserver.wcs.web.WCSAdminPage?4 the read/generation limits for WCS are not set. What would be a reasonable setting here ? 1Gb or less ?

[2018-02-27 08:43] fvanderbiest opened #77 "GeoNode GeoServer service flickering since 02/23/2018 9am"
![capture du 2018-02-27 09-43-35](https://user-images.githubusercontent.com/265319/36718604-b31bc80c-1ba2-11e8-824d-2665e3184a00.png)
We're trying to understand what happened that day.

[2018-02-27 08:54] fvanderbiest commented on #75
Since I changed the value to 1Gb, there are errors in the logs, which confirm that too much data is being pulled out of GeoServer WCS service.
[code]
Wondering if that's not due to thinkhazard

[2018-02-27 09:17] fvanderbiest commented on #77
Geoserver logs on 02/23/2018

[r-geonode-geoserver-geoserver-1-3e820cf1-8020c895a895.log.gz](https://github.com/GFDRR/geonode/files/1761945/r-geonode-geoserver-geoserver-1-3e820cf1-8020c895a895.log.gz)

[r-geonode-geoserver-geoserver-1-9d486781-61ececac0414.log.gz](https://github.com/GFDRR/geonode/files/1761951/r-geonode-geoserver-geoserver-1-9d486781-61ececac0414.log.gz)

[2018-02-27 09:28] fvanderbiest commented on #75
The log message says `the actual amount of bytes to be read is 2759.33MB` but there are no files beyond 656M on the server:
[code]

[2018-02-27 09:39] fvanderbiest commented on #75
Nope, since https://www.geonode-gfdrrlab.org/api/layers/ does not mention any `download_url` using WCS

[2018-02-27 09:47] fvanderbiest commented on #77
Reverting this change https://github.com/camptocamp/gfdrr-geonode-geoserver-datadir/commit/2a5ad03708d5ec53e4a82225591b38794f03a734

[2018-02-27 09:51] fvanderbiest commented on #77
No effect on geoserver stability.

[2018-02-27 10:21] fvanderbiest commented on #75
@afabiani do you guys at GeoSolutions know how to prevent GeoServer from writing those imageio4029523879742583128.tmp files in tomcat's temp folder ?

[2018-02-27 10:28] fvanderbiest commented on #77
Several errors in the logs regarding unavailable layers:
[code]

[2018-02-27 10:37] fvanderbiest commented on #77
Also "Error connecting to the GeoNode server for authentication purposes":
[code]

[2018-02-27 10:39] fvanderbiest commented on #77
[code]

[2018-02-27 10:46] fvanderbiest commented on #77
https://github.com/camptocamp/terraform-geonode/blob/f3374326e3f4db02977ccc057a95e9e59b643b47/rancher-environments/gfdrr-geonode-prod/stacks.tf#L74 correctly maps `geonode/django` service onto `django` hostname and geoserver container sees django app:
[code]

[2018-02-27 12:38] fvanderbiest commented on #77
[code]

[code]

[code]
[code]

[2018-02-27 14:45] fvanderbiest commented on #77
The front LB was the culprit for some weird reason. It should now be fixed.

[2018-02-27 14:48] fvanderbiest commented on #77
planning a LB upgrade with https://github.com/camptocamp/terraform-geonode/pull/19/files

[2018-02-27 14:48] #77 closed, assigned to nobody

[2018-02-27 15:18] stufraser1 commented on #67
@ErikKBethke  Have you had a look at this recently?

[2018-02-28 09:43] afabiani commented on #75
@fvanderbiest hello, currently I don't think this is possible since those files are created by the ImageIO streaming.

Maybe it could be possible to write them on a custom temporary folder and delete them with a cron job or something.
In order to do that you should be able to set the "java.io.tmpdir" property on JAVA_OPTS

Something like -Djava.io.tmpdir=<full_temp_dir_path>

[2018-02-28 16:24] stufraser1 commented on #74
geonode 2.8 has better monitoring but would still be useful to include Google Analytics - @vdeparday

[2018-03-05 08:50] fvanderbiest commented on #75
Hi Alessio,
Thanks for your answer, we'll try this ASAP !

https://github.com/camptocamp/geonode-geoserver-docker/pull/1 to be reviewed

[2018-03-05 08:51] fvanderbiest commented on #75
Here's a request generating too much data (makes the geoserver fail - don't click the link): https://www.geonode-gfdrrlab.org/geoserver/wcs?crs=EPSG%3A4326&service=WCS&format=GeoTIFF&request=GetCoverage&height=16744&width=43200&version=1.0.0&BBox=-187.27200037926434%2C-126.59567035338198%2C187.27201915472722%2C154.3123442971117&Coverage=hazard%3Ass_muis_rp0100m&access_token=a6e3c7b88c8911e7950f02a

[2018-03-05 09:23] fvanderbiest commented on #75
From http://docs.geoserver.org/stable/en/user/services/wcs/configuration.html: "Finally the resulting raster will be encoded in the output format. Depending on the output format structure the size of the result might be higher than the in memory size (ArcGrid case) or smaller (for example in the case of GeoTIFF output, which is normally LZW compressed)"
Strangely this does seem to apply here (the

[2018-03-06 10:06] afabiani commented on #20
Hi all,
first of all I see few redundant links for WCS on that layer

![image](https://user-images.githubusercontent.com/1278021/37025790-eb40d350-212c-11e8-9af3-95a47a7cef79.png)

Are listed four while there should be only two.

Other than this, the bbox specified there seem to be wrong in both cases.

For sure on GeoNode side there's place for improvements on this. There are not consistency chec

[2018-03-06 10:39] afabiani commented on #75
@fvanderbiest it is not that easy. WCS protocol is not aware, and does not preserve the original raster structure. For WCS 2.0.1 there are some extensions for GeoTiffs that should allow you to select the best "overview" and "interpolation" accordingly to the requested area.

Adding this parameter to the request

overviewpolicy=[NEAREST | QUALITY | SPEED]

should allow you to get a smaller size Geo

[2018-03-21 19:26] stufraser1 commented on #75
GeoSolutions have submitted a PR containing new code to perform direct download of rasters in GeoNode rather than WCS - https://github.com/GeoNode/geonode/pull/3674
Is it possible to implement this in Labs Geonode?

[2018-04-12 11:30] stufraser1 commented on #74
@fjacon can we add this tracking capability now, before upgrading to 2.8?

[2018-05-16 13:39] Vampouille commented on #76
I rebase V2 branch against 2.6.x : https://github.com/GFDRR/geonode/tree/test_rebase_2.6.x
Now we have all commits dedicated to gfdrr on top of 2.6.x branch.

I have successfully build a docker image with : https://github.com/olivierdalang/SPCgeonode
I just have to change :
https://github.com/olivierdalang/SPCgeonode/blob/master/requirements.txt#L3
to `https://github.com/GFDRR/geonode/archive/test

[2018-05-16 16:48] Vampouille commented on #73
Think Hazard! logo in geonode:
![capture du 2018-05-16 18-40-10](https://user-images.githubusercontent.com/7067560/40130941-c2e880b2-5938-11e8-810c-7fe20035b2be.png)

@stufraser1 is it what you want ?

[2018-05-16 16:50] Vampouille commented on #73
Do you want to change "Hazard datasets" part with a black background and logo in white ?

[2018-05-17 13:10] Vampouille commented on #71
I tested on a local instance and it seems to work. @stufraser1 Do you still have a problem ?

[2018-05-30 15:55] stufraser1 commented on #73
Looks good but please put on hold for now - pending discussions on branding of other Labs tools

[2018-05-30 15:55] stufraser1 commented on #71
Yes, I tried to update text (with a very short string) in the abstract and supplemental information and it does not update when tested on:
 https://www.geonode-gfdrrlab.org/layers/hazard:wgs_hazard_viet500_1km

but does when tested on
https://www.geonode-gfdrrlab.org/layers/hazard:wgs_fsm50_1km#more

[2018-06-06 08:08] Vampouille commented on #33
I tested edition of Owner, POC and Metadata Author on fresh install of 2.7.x branch with this composition : https://github.com/olivierdalang/SPCgeonode.
Edition is working :-)

We need to test again after applying GFDRR patches (database model, layout, ...)

[2018-06-06 09:27] Vampouille commented on #76
master branch of https://github.com/olivierdalang/SPCgeonode composition use 2.7.x branch of geonode (geonode 2.8)
So with the help of previous composition we can build a standard genode image for 2.8

We need to test with GFDRR patches

[2018-06-06 09:35] Vampouille commented on #71
This layer : https://www.geonode-gfdrrlab.org/layers/hazard:wgs_hazard_viet500_1km/metadata_advanced have no category selected so it cannot be updated. You need to select a category at the bottom of the edit page.

[2018-06-06 09:53] Vampouille commented on #69
Tested on a fresh geonode instance (without GFDRR patches) with https://github.com/olivierdalang/SPCgeonode composition.
Anonymous user can download GeoTIFF
![capture du 2018-06-06 11-51-24](https://user-images.githubusercontent.com/7067560/41031092-22f36e3e-6980-11e8-9a7c-644a8ee68cd5.png)

[2018-06-06 10:24] Vampouille commented on #63
Tested on geonode 2.8 (without GFDRR patches)

* Creation of style works :
![capture du 2018-06-06 12-06-49](https://user-images.githubusercontent.com/7067560/41032654-55c9a0ae-6984-11e8-9390-521c18379650.png)

[2018-06-06 10:27] Vampouille commented on #63
* Manage style page does not save modification :
![capture du 2018-06-06 12-07-30](https://user-images.githubusercontent.com/7067560/41032693-7efc9a8a-6984-11e8-80b2-6c7b93c4a034.png)
![capture du 2018-06-06 12-07-55](https://user-images.githubusercontent.com/7067560/41032727-91d7713e-6984-11e8-8821-72f787ad4913.png)
![capture du 2018-06-06 12-12-33](https://user-images.githubusercontent.com/70675

[2018-06-06 10:28] Vampouille commented on #63
So on 2.8 :
* creation of style works
* manage style does not work

[2018-06-06 10:29] Vampouille commented on #30
GeoNode#3604 has been merged in 2.7.x branch

[2018-06-06 10:49] Vampouille commented on #57
Seems to be fixed on geonode 2.8 without GFDRR patches. I create 2 documents with following external URL :
* https://www.nat-hazards-earth-syst-sci.net/16/1049/2016/
* https://www.nat-hazards-earth-syst-sci.net/16/1049/2016/nhess-16-1049-2016.pdf

[2018-06-06 10:57] Vampouille commented on #30
In manage page, style are displayed in alphabetic order. But it only show internal generated name : bel_adm0_2428891c instead of title field of the style : "A test".

I created an issue upstream: https://github.com/GeoNode/geonode/issues/3824

[2018-06-06 10:58] Vampouille opened #78 "Manage style page does not show style name given by user"
upstream issue : https://github.com/GeoNode/geonode/issues/3824

[2018-06-06 10:59] Vampouille commented on #30
I added the label fix-on-2.8 and created a dedicated issue for style name https://github.com/GFDRR/geonode/issues/78

[2018-10-09 09:10] fjacon commented on #30
@stufraser1 geonode 2.8 is deployed on integration server
https://int.geonode-gfdrrlab.org/
this issue is solved. Can you check ?

[2018-10-09 10:01] fjacon commented on #33
@stufraser1 geonode 2.8 is deployed on integration server
https://int.geonode-gfdrrlab.org/
this issue is solved. Can you check ?

[2018-10-09 11:41] fjacon commented on #57
@stufraser1 geonode 2.8 is deployed on integration server
https://int.geonode-gfdrrlab.org/
this issue is solved. Can you check ?

[2018-10-09 11:43] fjacon commented on #76
Geonode 2.8 + GFDRR Patches successfully deploy on integration server. I close

[2018-10-09 11:43] #76 closed, assigned to nobody

[2018-10-09 13:48] fjacon commented on #35
@stufraser1 geonode 2.8 is deployed on integration server
https://int.geonode-gfdrrlab.org/
can you test in this server ?

[2018-10-09 14:33] stufraser1 commented on #33
Tested: POC, owner, metadata author updates using text entry box. New POC etc successfully saved to layer file, closing.

[2018-10-09 14:39] stufraser1 commented on #30
Styles now listed alphabetically on int server. Closing.

[2018-10-09 14:39] #30 closed, assigned to nobody

[2018-10-09 15:53] stufraser1 commented on #57
I see a new upload process, and working through that most things are successful. However, on the final 'update' request, it fails with error concerning data quality scores. However, there was no option or field visible in the process to enter these scores - see image.

Also, the page does not display correctly (is positioned off to the right compared to all other screens) when the error message ap

[2018-10-10 08:00] fjacon commented on #57
@stufraser1 this form is a new thing in geonode 2.8
So it does not include GFDRR specific field. We could actually modify it but alernatively I think you can use "advanced Edit" to finish editing the metadata. Would that be OK as a turnaround ?

[2018-10-11 12:35] stufraser1 commented on #57
Hi
I now see that the document uploaded in any case. The workaround to use advanced edit is OK, perhaps we can add this as an issue for later (lower priority) resolution. By the way, its funny that the new form has the 'data quality statement field' which I don't believe was standard previously - this was added for TH, wasn't it?
Otherwise, closing

[2018-10-11 12:35] #57 closed, assigned to fjacon

[2018-10-11 12:40] stufraser1 opened #79 "Bug in document upload error message"
When error message given in document upload, the page does not display correctly (is positioned off to the right compared to all other screens).

Error triggered when two numeric data quality scores required for TH hazard data (but not for documents) is not entered - no option to enter these in the upload form. Despite error message, the document is uploaded successfully.

<img width="1296" alt="i

[2018-10-11 12:43] stufraser1 commented on #71
This seems to be resolved on int server with 2.8

[2018-10-11 12:43] #71 closed, assigned to nobody

[2018-10-11 12:53] stufraser1 commented on #35
I just tried to upload a 66MB tif file. The uploaded started and proceeded through to the end of the progress bar on GeoNode, then gave a message: 'No store found named: ls_nasa_modnowcast_avg'.
The tif did not upload.

[2018-10-11 12:54] #69 closed, assigned to nobody

[2018-10-11 12:59] stufraser1 commented on #63
@Vampouille  I was able to manage styles (adding two existing styles to a layer) on a few layers in the interface. Returning to the layer and the style editor, the additional styles are shown so they have been saved.
Can it be closed?

[2018-10-11 13:03] stufraser1 commented on #78
@Vampouille
Can close this one too?

[2018-10-11 13:05] stufraser1 commented on #22
Email field shows email in int server 2.8. Closing

[2018-10-11 13:05] #22 closed, assigned to nobody

[2018-10-11 13:07] stufraser1 commented on #11
This still seems to occur in 2.8 on int, on some layers only.
Eg. https://int.geonode-gfdrrlab.org/layers/hazard%3Apga_0250_finalclip

[2018-10-11 13:12] #23 closed, assigned to nobody

[2018-10-11 13:15] fjacon commented on #78
I think it has been corrected and it looks ok as far as i can see.

[2018-10-11 13:19] fjacon commented on #63
I think you can close as it is fixed on 2.8 on seems to be working on integration server

[2018-10-11 13:36] #78 closed, assigned to nobody

[2018-10-11 13:36] #63 closed, assigned to nobody

[2018-10-18 07:39] stufraser1 opened #80 "Remove truncation of abstract"
Abstracts are truncated in layer page and metadata_detail page.
- [ ] Remove truncation from abstract limit on metadata_detail page (https://www.geonode-gfdrrlab.org/layers/LAYER/metadata_detail)
- [ ] Extend abstract limit on layer page (https://www.geonode-gfdrrlab.org/layers/LAYER). If possible, double, or if this causes other problems, add 50% of current length.
- [ ] Propose this change to up

[2018-11-08 09:53] stufraser1 opened #81 "Layer legend not showing"
@pvalsecc @fjacon
An urgent issue to resolve please:
Layer legends seem broken on v2.8 - no data showing in the map window and legend has a broken icon / no legend.

[2018-11-08 09:55] fjacon commented on #81
OK, we will look at this

[2018-11-09 09:37] pvalsecc commented on #81
@stufraser1, it should be fixed, now. Please check.

[2018-11-09 09:37] #81 closed, assigned to pvalsecc

[2018-11-09 12:47] stufraser1 commented on #81
Confirmed as fixed. Thank you

[2018-11-14 11:13] stufraser1 commented on #20
This remains a priority issue to solve after the v2.8 upgrade

[2018-11-14 11:19] stufraser1 commented on #33
Attempting to update layer owner, point of contact and author fields on production server today does not work. I can enter text in the field, but when I press 'update', it returns to the layer pages with no change to those fields.

I have attempted to change owner, etc,  to Fathom via front end and in django administration on layer:
https://www.geonode-gfdrrlab.org/layers/hazard:adm2_uu_v5_4bit

A

[2018-11-14 12:21] vdeparday commented on #20
I thought they a direct download link had been implemented to avoid going through the WCS that hasn't been working in most cases. @afabiani and @cgiovando was it included in the 2.8 release.

[2018-11-20 13:39] vdeparday commented on #20
@afabiani and @cgiovando could we get an answer asap ? We could also almost remove the other option almost as it seems like it is never working.

[2018-11-21 08:14] stufraser1 opened #82 "some thumbnails broken"
In some layers, the thumbnail does not load, but when on the layer page, the map does show, suggesting it is not an issue with the legend.
e.g https://www.geonode-gfdrrlab.org/search/?title__icontains=CY-GLO&limit=20&offset=0

<img width="630" alt="image" src="https://user-images.githubusercontent.com/12515042/48827546-6eba8f00-ed65-11e8-89d1-f0e8013bb3dc.png">

[2018-11-29 13:12] pvalsecc commented on #82
For reference, query to fix that in the DB:
[code]

[2018-11-29 13:12] #82 closed, assigned to nobody

[2018-11-29 14:19] pvalsecc commented on #35
Notes for myself...

I'm testing with a renamed version of https://www.geonode-gfdrrlab.org/uploaded/layers/maxdepthseu_500y.tif (139MB) and I get:
[code]

[2018-11-30 08:23] pvalsecc commented on #35
It should be fixed, now. I've tested on int and deployed the fix on prod as well.

[2018-11-30 08:23] #35 closed, assigned to pvalsecc

[2018-11-30 09:32] pvalsecc commented on #33
Bug in geonode, fixed there: https://github.com/GeoNode/geonode/commit/1946d516a9a855931dc64b79748a70a12f363cba
I'm backporting the fix

[2018-11-30 09:44] pvalsecc commented on #33
Fix tested on int and deployed on prod.

[2018-11-30 09:44] #33 closed, assigned to fvanderbiest, Vampouille

[2018-11-30 10:15] stufraser1 commented on #20
@pvalsecc  Please could you look at this one, running the manage command and checking it works? Alessio advises below:
if the branch has been aligned with the latest 2.8.x code, the new link "Original Data" will appear on the new uploaded Layers, among the Download Links.
In order to update the old Layers too (the ones already ingested before the update), you should be able to run the following ma

[2018-11-30 11:37] pvalsecc commented on #20
I tried to run `manage.py set_all_layers_metadata` on integration and I don't see this link added to existing layers. New one indeed have it.

[2018-11-30 11:40] pvalsecc commented on #20
We are based on this commit: 2ea8bc6b2

[2018-11-30 12:34] stufraser1 commented on #20
I see it on production version: e.g.
https://www.geonode-gfdrrlab.org/layers/hazard:wgs_hazard_viet500_1km
https://www.geonode-gfdrrlab.org/layers/hazard:wgs_phil1000_1km

It is still confusing to see the other formats, and some users may click on those initially, but at least the original data link is there.

[2018-12-13 11:28] stufraser1 opened #83 "Update legends"
From [TH issue #853](https://github.com/GFDRR/thinkhazard/issues/853) -
Earthquake legends should not read low-high as it is confusing (can give impression the raw data is classified into TH levels, which it is not - shows PGA and legend should reflect this)

[2019-02-26 18:04] matamadio commented on #11
This still happens on all layers. Some layers (e.g. https://www.geonode-gfdrrlab.org/layers/hazard:volc_globalproximalhazard_wgs84) show more duplicates than others.

[2019-03-05 15:08] stufraser1 commented on #20
#11 keeps the issue open that there are multiple options - to be removed.

[2019-03-05 15:08] #20 closed, assigned to fvanderbiest, Vampouille

[2019-03-05 15:10] stufraser1 commented on #16
not required

[2019-03-05 15:10] #16 closed, assigned to nobody

[2019-03-05 15:11] stufraser1 commented on #37
@cgiovando where are we at on this? should this remain open?

[2019-03-05 15:14] stufraser1 commented on #59
@cgiovando Is this still an issue? If so, what are next steps / identified resolution for this?

[2019-03-05 15:15] stufraser1 commented on #59
Can we close?

[2019-03-05 15:15] stufraser1 commented on #74
@cgiovando does your tracking of GeoNode solve this issue? Can we close?

[2019-03-05 15:17] stufraser1 commented on #74
closing, not clear what this adds at the moment.

[2019-03-05 15:17] #74 closed, assigned to nobody

[2019-03-05 15:21] stufraser1 commented on #67
@mamadiocmcc checked and is resolved

[2019-03-05 15:21] #67 closed, assigned to nobody

[2019-03-11 12:48] cgiovando commented on #37
I think we can close it for now, until we decide data hosting strategy across the different Lab's products.

[2019-03-11 12:48] #37 closed, assigned to cgiovando

[2019-03-11 12:53] cgiovando commented on #59
Lab's GeoNode layers seem to be harvested correctly by geoportal.org - so I think we can close this

[2019-03-11 12:53] #59 closed, assigned to nobody

[2019-03-11 13:06] cgiovando opened #84 "Layers not displaying"
This might be just a matter of restarting of GeoServer

![Screen Shot 2019-03-11 at 14 03 52](https://user-images.githubusercontent.com/10201533/54126031-da089980-4406-11e9-93e3-09b9d988d0c2.jpg)

[2019-04-30 16:23] matamadio opened #85 "Batch rename data author"
![immagine](https://user-images.githubusercontent.com/44863827/56977027-944d8f00-6b74-11e9-9e5a-59643b5248fc.png)

We should set a shared email such as geonode@GFDRR.org to use instead of GFDRR individual persons. This should be applied in batch for all published layers.

[2019-06-04 12:11] stufraser1 commented on #11
@fjacon  In reference to issue #20, we still have a problem with multiple links and the WCS endpoint not working. @cgiovando suggestion is to run again the script that @pvalsecc ran in #20, and check that only the "Original Dataset" link is left for the Data tab. We can add the GeoTIFF (WCS) link back later, once it's confirmed to work.

Would it be possible to run this urgently, even while we dis

[2019-09-24 16:33] matamadio commented on #11
We had a conversation with user conrad.zorn which is able to view data download links for restriceted datasets such as https://www.geonode-gfdrrlab.org/layers/hazard:myanmar475
As normal user, he should be able to only see "pictures" downloads.
He said he could see:
    Geotiff (x 3 links)
    GZIP (x 3 links)
    Original Dataset
However none of them works for him, while "original datasets" downl

[2019-10-09 10:35] cgiovando opened #86 "Upgrade to v2.10"

[2019-10-09 14:06] stufraser1 opened #87 "replace email on homepage, with feedback link"
replace email on homepage, with feedback link - channel feedback via Google Forms
https://docs.google.com/forms/d/1RdgnIIPiZn38iy6DkHQJvPSCTjOgpSdFgzsZ-j1Owlk/edit

[2019-10-09 14:30] #87 closed, assigned to nobody

[2019-10-16 07:30] matamadio opened #88 "Substitute layer returns error"
I am substituting raster layers for EQ- GLOBAL - GAR17. The procedure went fine for 4 layers, one layer (https://www.geonode-gfdrrlab.org/layers/hazard:gar17pga1500) keeps getting me this error:

`Traceback (most recent call last): File "/usr/local/lib/python2.7/site-packages/geonode/layers/views.py", line 1247, in layer_replace charset=form.cleaned_data["charset"], File "/usr/local/lib/python2.7/

[2019-12-20 12:12] stufraser1 commented on #86
Added to CamptoCamp Thinkhazard development contract. To be actioned Jan/Feb 2020

[2019-12-20 12:16] stufraser1 commented on #73
Changed https://github.com/GFDRR/geonode/blob/labs_geonode_2.6.x/geonode/templates/base.html line 170, now directs to a Google Form

[2020-03-12 11:56] matamadio opened #89 "Add custom metadata field for TH"
The harvest processing of ThinkHazard collects all layers in geonode with Hazard-type. However, some of these layers are only for geonode view and download, and should not be harvested.
We need to be able to flag those layers that should be harvested in TH.
To do this, we want to add a custom metadata field "TH harvesting" (boolean, checkbox).

Can it be implemented?

As far as I understand, this

[2020-04-21 10:49] matamadio opened #90 "Delete fake users and check security"
Currently, the geonode has some 28000 users, about 27700 of which are registered by bots with fake email.
This creates issues in the admin interface, e.g. every time there is a "users" dropdown list, it parse all the 29k records and the browser crashes.
Also, the geonode goes 502 for a while.

We need to keep only the urser that satisfy one of these conditions:
1) staff users
2) non-empty "name" a

[2020-05-29 14:02] matamadio opened #91 "Large dataset compression causing server down"
Geonode has the tendency to fail (goes down for several minutes) when large raster (1+ gb) datasets are requested for download as the server tries to zip the tif. This is suboptimal, since tifs are already compressed. It would be more efficient if the download link pointed directly to the file, as accessible from metadata description.

**Example:** https://www.geonode-gfdrrlab.org/layers/hazard:rf

[2020-06-16 08:29] #88 closed, assigned to nobody

[2020-12-21 08:32] pzwsk opened #95 "Code on developers page appears black - CSS Issue"
See here https://www.geonode-gfdrrlab.org/developer/

![image](https://user-images.githubusercontent.com/2378439/102755873-5287e280-436f-11eb-9aba-299d28d6d8b8.png)

[2021-02-08 14:39] pzwsk opened #96 "Explore data layers by license (facet)"
When on Explore layers, users can select datasets by License type (Add License as another facet)
https://www.geonode-gfdrrlab.org/